<div class="box">
  <% @profiles.each do |profile| %>
    <div class="inner-box">
      Profile ID: <%= profile[:id] %>
      <br/>
      Name: <%= profile.user[:name] %>
      <br/>
      Email: <%= profile.user[:email] %>
      <br/>
      Background: <%= profile[:background] %>
      <br/>
      Career plan: <%= profile[:career_plans] %>
    </div>
  <% end %>
</div>
