<h2>Create new Member</h2>
 
<%= form_for(@member) do |f| %>
  <% if false %>
  <%= error_messages(@member,"Could not register user") %>
 
  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>
 
  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation %></p>
 
  <p><%= f.submit "Register" %></p>
  <% end %>
<% end %>
