= javascript_include_tag "application-form.js"
= simple_form_for(current_user, url: user_etkh_profile_url(current_user, current_user.etkh_profile),
                                html: { class: 'form-horizontal' },
                                defaults: { input_html: { class: 'span4' } }  ) do |f|
  = f.fields_for :etkh_profile, defaults: { input_html: { class: 'span4' } } do |ep|
    = ep.association :profile_option_causes, :as => :check_boxes
    = ep.association :profile_option_activities, :as => :check_boxes
    = ep.input :organisation, label: "Your organisations, separated by commas", :placeholder => "i.e. universities and companies you’re a member of"
    = ep.input :public_profile, label: "Public profile", :hint => "if unchecked your profile is still visible to 80,000 Hours members"

  = f.input :external_website,   label: "Personal website (optional)", :hint => "full URL e.g. http://www.joebloggs.com/"
  = f.input :external_twitter,   label: "Twitter page (optional)", :hint => "full URL e.g. http://twitter.com/JoeBloggs"
  = f.input :external_facebook,  label: "Facebook page (optional)", :hint => "full URL e.g. http://www.facebook.com/JoeBloggs"
  = f.input :external_linkedin,  label: "LinkedIn page (optional)", :hint => "full URL e.g. http://www.linkedin.com/in/JoeBloggs"

  = f.label "Profile picture"
  - if current_user.avatar?
    = link_to image_tag(current_user.avatar.url(:small), :class=>"shadow", :style=>"margin-left:20px;"), current_user.avatar.url
  - else
    = image_tag("profiles/avatar_default_96x96.png", :class=>"shadow")
  = f.input :avatar, :label => "Change photo"

  .center
    = f.button :submit, "Save profile", class: 'btn btn-success btn-large'
    = link_to "Cancel", user_path(current_user), class: 'btn btn-large'
