- user = profile.user

.row
  .eighty-thousand-hours-profile
    .span3
      .sidebar
        .avatar
          = link_to image_tag(user.avatar.url(:medium)), user.avatar.url

        - if user.location?
          %p
            %h5 Location
            = user.location

        %p
          %h5 Member since 
          = profile.created_at.strftime "%B %Y"

        - upvotes = user.votes.upvotes.recent
        - if upvotes.size > 0
          %p
            %h5 Recent activity
            - user.posts.published.limit(3).each do |post|
              wrote blog post:
              %br
              =link_to post.title, post
              %br
            - upvotes.limit(3).each do |v|
              - if !v.post.nil?
                liked blog post:
                %br
                =link_to v.post.title, post_path(v.post)
                %br

        -if user.external_links?
          %p
            %h5 External links
            - if user.external_website?
              = link_to "<i class='icon-info-sign'></i> Personal website".html_safe, user.external_website
              %br

            - if user.external_twitter?
              = link_to image_tag("social/twitter.png") + " Twitter".html_safe, user.external_twitter
              %br
            
            - if user.external_facebook?
              = link_to image_tag("social/facebook.png") + " Facebook".html_safe, user.external_facebook
              %br
            
            - if user.external_linkedin?
              = link_to image_tag("social/linkedin.png") + " LinkedIn".html_safe, user.external_linkedin
              %br

        %p
          %h5 Navigation
          = link_to '<i class="icon-user"></i> view all members'.html_safe, etkh_profiles_path

    .span9
      .main
        .page-header
          %h1= profile.name
          %h2.location
            - if profile.organisation?
              = profile.organisation
            - elsif user.location?
              = user.location
        
        - if profile.background?
          %h2 Background and interests
          = markdown profile.background
        
        - if profile.inspiration?
          %h2 My inspiration for joining 80,000 Hours
          = markdown profile.inspiration
        
        - if profile.occupation?
          %h2 Current job/occupation
          = markdown profile.occupation
        
        - if profile.career_plans?
          %h2 Career plans
          = markdown profile.career_plans
        
        - if profile.doing_good_inspiring? || profile.doing_good_research? || profile.doing_good_philanthropy? || profile.doing_good_prophilanthropy? || profile.doing_good_innovating? || profile.doing_good_improving
          %h2 Type of Career
          %ul 
            - if profile.doing_good_inspiring?
              %li Inspiring others
            - if profile.doing_good_research?
              %li High impact research
            - if profile.doing_good_philanthropy?
              %li Philanthropy
            - if profile.doing_good_prophilanthropy?
              %li Professional philanthropy
            - if profile.doing_good_innovating?
              %li Innovating
            - if profile.doing_good_improving?
              %li Improving
        
        - if profile.organisation_role?
          %h2 Role in 80,000 Hours
          = markdown profile.organisation_role
        
        - if profile.interesting_fact?
          %h2 Interesting fact
          = markdown profile.interesting_fact

        - donations = user.donations.order("date DESC")
        - if donations.confirmed.is_public.size > 0
          .donations{:id => "#{user.slug}-donations"}
            %h2
              Donations
            %p
              %ul
                - donations.each do |donation|
                  - if donation.public
                    %li
                      = render donation

        - if user.posts.published.size > 0
          .blog
            %h2 Recent blog posts
            - user.posts.published.limit(3).each do |post|
              =render :partial => 'posts/display_heading', :locals => {:post => post}
            %br
            = link_to "View all posts by #{user.name}", posts_user_path( user )
