- user = profile.user

.eighty-thousand-hours-profile-condensed
  .avatar
    = link_to image_tag(user.avatar.url(:thumb)), "/members/#{user.slug}"

  .text
    %span.name
      = link_to user.name, "/members/#{user.slug}"
    %br
    - if user.location?
      %span.location
        = truncate( user.location, :length => 20 )
