<div class="box">
By creating a public profile, you can help inspire new people to join 80k. Seeing example members is a really effective way to persuade others to join. You can also make yourself known to our community, which might lead to connections with other effect altruists.
</div>

<div class="box">
  <h1><%= current_user.name %></h1>

  <% if current_user.member %>
    <% if current_user.member.confirmed %>
      <div class="box">
        <h2>Public profile</h2>
        <p>See how others view your profile on the <%= link_to "public profile for #{current_user.name}", "/members/#{current_user.slug}" %>.</p>
      </div>
    <% else %>
      <div class="box warning">
        <h2>Please note:</h2>
        <p>Your membership is still being reviewed by the 80,000 Hours team.</p>
        <p>You can fill in your profile details, but this will not be publicly visible until we accept your membership.</p>
        <p>If it's been more than a week and we haven't been in touch, please contact <%= link_to 'info@80000hours.org', 'mailto:info@80000hours.org' %>.</p>
      </div>
    <% end %>
  <% end %>

  <div class="box">
    <h2>Markdown</h2>
    <p>All the text fields can be formatted using the <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a>. For example:</p>
    <p>**bold text** == <strong>bold text</strong></p>
    <p>_italic text_ == <em>italic text</em></p>
    <p>[a link](http://80000hours.org/) == <a href="http://80000hours.org">a link</a></p>
  </div>

  <div class="profile-form">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <hr/>

      <%= field_set_tag "Contact details" do %>
        <%= f.input :name %>
        <%= f.input :email %>

        <%= f.simple_fields_for :member do |mf| %>
          <%= mf.input :phone %>
        <% end %>
      <% end %>

      <hr/>

      <%= f.fields_for :member do |mf| %>
        <%= field_set_tag "Profile fields" do %>
          <%= mf.input :location %>
          <%= mf.input :organisation, :label => "Organization/Company/University" %>
          <%= mf.input :background,   :label => "What is your background and what are your interests?" %>
          <%= mf.input :inspiration,  :label => "What inspired you to join 80,000 Hours, and how has discovering 80,000 Hours changed your career decisions?" %>
          <%= mf.input :occupation,   :label => "What do you currently do?" %>
          <%= mf.input :career_plans, :label => "What are your plans for a high impact ethical career?" %>

          <label>What will be your main method(s) of doing good?</label>
          <div class="check-group">
            <%= mf.input :doing_good_inspiring,       :label => "Inspiring" %>
            <%= mf.input :doing_good_improving,       :label => "Improving" %>
            <%= mf.input :doing_good_philanthropy,    :label => "Philanthropy" %>
            <%= mf.input :doing_good_prophilanthropy, :label => "Professional philanthropy" %>
            <%= mf.input :doing_good_innovating,      :label => "Innovating" %>
            <%= mf.input :doing_good_research,        :label => "Research" %>
          </div>

          <%= mf.input :organisation_role, :label => "What is your role in the 80,000 Hours team?" %>
          <%= mf.input :interesting_fact,  :label => "Interesting fact (optional)" %>
          <%= mf.input :external_twitter,  :label => "Twitter page (optional)", :hint => "full URL e.g. http://twitter.com/JoeBloggs" %>
          <%= mf.input :external_facebook, :label => "Facebook page (optional)", :hint => "full URL e.g. http://www.facebook.com/JoeBloggs" %>
          <%= mf.input :external_linkedin, :label => "LinkedIn page (optional)", :hint => "full URL e.g. http://www.linkedin.com/in/JoeBloggs" %>


          <label>Current profile picture</label>
          <div class="avatar">
            <% member = current_user.member %>
            <% if member.avatar? %>
              <%= link_to image_tag(member.avatar.url(:medium), :class=>"shadow"), member.avatar.url %>
            <% else %>
              <%= image_tag("profiles/avatar_default_96x96.png", :class=>"shadow") %>
            <% end %>
          </div>
          <label>Choose new picture:</label> <%= mf.file_field :avatar %>
        <% end %>
      <% end %>

      <hr/>

      <%= field_set_tag "Change password" do %>
        <%= f.input :password, :label => "New password", :placeholder => "optional" %>
        <%= f.input :password_confirmation, :label => "New password confirmation", :placeholder => "optional" %>
      <% end %>

      <hr/>

      <%= f.input :current_password, :label => "Current password", :required => true, :placeholder => "required" %>
      <div class="center">
        <div>
          <%= f.button :submit, "Save" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
