<div class="box">
  <h1><%= current_user.name %></h1>

  <% if current_user.member %>
    <% if current_user.member.confirmed %>
      <div class="box">
        <h2>Public profile</h2>
        <p>See how others view your profile on the <%= link_to "public profile for #{current_user.name}", "/members/#{current_user.slug}" %>.</p>
      </div>
    <% else %>
      <div class="box warning">
        <h2>Please note:</h2>
        <p>Your membership is still being reviewed by the 80,000 Hours team.</p>
        <p>You can fill in your profile details, but this will not be publicly visible until we accept your membership.</p>
        <p>If it's been more than a week and we haven't been in touch, please contact <%= link_to 'info@80000hours.org', 'mailto:info@80000hours.org' %>.</p>
      </div>
    <% end %>
  <% end %>


  <div class="profile-form">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <%= field_set_tag "Contact details" do %>
        <p><%= f.label :name %></p>
        <p><%= f.text_field :name %></p>

        <p><%= f.label :email %></p>
        <p><%= f.email_field :email %></p>

        <%= f.fields_for :member do |mf| %>
          <p><%= mf.label :phone %></p>
          <p><%= mf.phone_field :phone %></p>
        <% end %>
      <% end %>

      <%= f.fields_for :member do |mf| %>
        <%= field_set_tag "Public profile" do %>
          <p><%= mf.label :location %></p>
          <p><%= mf.text_field :location %></p>

          <p><%= mf.label :organisation, "Organization/Company/University" %></p>
          <p><%= mf.text_field :organisation %></p>

          <p><%= mf.label :background, "What is your background and what are your interests? (optional)" %></p>
          <p><%= mf.text_area :background %></p>

          <p><%= mf.label :inspiration, "What inspired you to join 80,000 Hours? (optional)" %></p>
          <p><%= mf.text_area :inspiration %></p>

          <p><%= mf.label :occupation, "What do you currently do? (optional)" %></p>
          <p><%= mf.text_area :occupation %></p>

          <p><%= mf.label :career_plans, "What are your plans for a high impact ethical career? How are you increasing your impact through inspiring others, research, and philanthrophy?" %></p>
          <p><%= mf.text_area :career_plans %></p>


          <p>What will be your main method or methods of doing good?</p>
          <%= field_set_tag "What will be your main method(s) of doing good?" do %>
            <p><%= mf.label :doing_good_influencing, "Influencing" %></p>
            <p><%= mf.check_box :doing_good_influencing %></p>
            <p><%= mf.label :doing_good_research, "Research" %></p>
            <p><%= mf.check_box :doing_good_research %></p>
            <p><%= mf.label :doing_good_prophil, "Professional philanthropy" %></p>
            <p><%= mf.check_box :doing_good_prophil %></p>
          <% end %>

          <p><%= mf.label :organisation_role, "What is your role in the 80,000 Hours team? (optional)" %></p>
          <p><%= mf.text_area :organisation_role %></p>

          <p><%= mf.label :interesting_fact, "Interesting fact (optional)" %></p>
          <p><%= mf.text_area :interesting_fact %></p>

          <p><%= mf.label :external_twitter, "Twitter page (optional)" %></p>
          <p><%= mf.text_field :external_twitter %></p>

          <p><%= mf.label :external_facebook, "Facebook page (optional)" %></p>
          <p><%= mf.text_field :external_facebook %></p>

          <p><%= mf.label :external_linkedin, "LinkedIn page (optional)" %></p>
          <p><%= mf.text_field :external_linkedin %></p>

          <% member = current_user.member %>
          <% if member.avatar? %>
            <p><%= mf.label :avatar, "Current profile picture" %></p>
            <div class="avatar">
              <%= link_to image_tag(member.avatar.url(:medium), :class=>"shadow"), member.avatar.url %>
            </div>
            <p>Choose new picture: <%= mf.file_field :avatar %></p>
          <% end %>
        <% end %>

        <%= field_set_tag "Privacy" do %>
          <p><%= mf.label :public_profile, "Display my profile publicly" %></p>
          <p><%= mf.check_box :public_profile %></p>
        <% end %>
      <% end %>

      <%= field_set_tag "Change password" do %>
        <p><%= f.label :password, "New password (leave blank if no change)" %></p>
        <p><%= f.password_field :password %></p>

        <p><%= f.label :password_confirmation, "New password confirmation (leave blank if no change)" %></p>
        <p><%= f.password_field :password_confirmation %></p>
      <% end %>

      <br/>
      <br/>
      <p><%= f.label :current_password, "Current password (required to make changes)" %></p>
      <p><%= f.password_field(:current_password,:class=>"required") %></p>
      <div class="center">
        <div>
          <%= f.submit "Save changes and display on 80000hours.org/members", :class=>"button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
