.box
  .page-header
    %h1 Account settings
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' } ) do |f|
    = f.error_notification
    .form-inputs
      = f.input :name,      :required => true, :hint => 'This will be displayed publicly. Can be a pseudonym.'
      = f.input :real_name, :hint => 'Never displayed publicly.'
      = f.input :email,     :required => true

      = field_set_tag "Authentications" do
        = link_to 'Connect to Facebook', '/auth/facebook', id: 'fb-connect'
        - current_user.authentications.each do |a|
          Your account is linked to #{a.provider}
          %br/

      = field_set_tag "Change password" do
        = f.input :password,              :label => "New password", :placeholder => "optional"
        = f.input :password_confirmation, :label => "New password confirmation", :placeholder => "optional"

    %hr

    = f.input :current_password, :label => "Current password", :required => true, :placeholder => "required to update details"

    .form-actions
      = f.button :submit, "Save profile", :class=>'btn btn-success btn-large'
