<div class="box">
<h1><%= current_user.name %></h1>

<% if current_user.member %>
<% if current_user.member.confirmed %>
  <div class="inner-box">
    <h2>Public profile</h2>
    <p>See how others view your profile on the <%= link_to "public profile for #{current_user.name}", "/members/#{current_user.slug}" %>.</p>
  </div>
<% else %>
  <div class="inner-box warning">
    <h2>Please note:</h2>
    <p>Your membership is still being reviewed by the <%= org_name %> team.</p>
    <p>If it's been more than a week and we haven't been in touch, please contact <%= link_to 'info@80000hours.org', 'mailto:info@80000hours.org' %>.</p>
  </div>
<% end %>
<% end %>


<div class="profile-form">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
 
  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <%# this will only display fields if :profile exists %>
  <%= f.fields_for :member do |mf| %>
    <p><%= mf.label :location %></p>
    <p><%= mf.text_field :location %></p>

    <p><%= mf.label :background %></p>
    <p><%= mf.text_area :background %></p>

    <p><%= mf.label :career_plans %></p>
    <p><%= mf.text_area :career_plans %></p>

    <p>Role in <%= org_name %></p>
    <p><%= mf.text_area :organisation_role %></p>

    <p>Who introduced you to the idea, what inspired you to join?</p>
    <p><%= mf.text_area :inspiration %></p>

    <p><%= mf.label :interesting_fact %></p>
    <p><%= mf.text_area :interesting_fact %></p>

    <% member = current_user.member %>
    <% if member.avatar? %>
      <p><%= mf.label :avatar, "Current profile picture" %></p>
      <div class="avatar">
        <%= link_to image_tag(member.avatar.url(:medium), :class=>"shadow"), member.avatar.url %>
      </div>
      <p>Choose new picture: <%= mf.file_field :avatar %></p>
    <% end %>
    <% end %>
  
  <br/>
  <div><%= f.label :password, "New password (leave blank if no change)" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "New password confirmation (leave blank if no change)" %><br />
  <%= f.password_field :password_confirmation %></div>

  <p><%= f.label :current_password, "Current password (required to make changes)" %></p>
  <p><%= f.password_field(:current_password,:class=>"required") %></p>

  <br/>
  <br/>
  <div class="center">
  <div>
    <%= f.submit "Save changes", :class=>"button" %>
  </div>
  </div>
<% end %>
<%# link_to "Back", :back %>
</div>
</div>
