<div class="box">
 
<% if !(current_user.member[:confirmed]) %>
  <div class="inner-box warning">
    <h2>Please note:</h2>
    <p>Your membership is still being reviewed by the <%= org_name %> team.</p>
    <p>If it's been more than a week and we haven't been in touch, please contact <%= link_to 'info@eightythousand.org', 'mailto:info@eightythousand.org' %>.</p>
  </div>
<% else %>
  <div class="inner-box">
    <h2>Public profile</h2>
    <p>See how others view your profile on the <%= link_to "public profile for #{current_user.name}", "/members/#{current_user.slug}" %>.</p>
  </div>
<% end %>


<h2>Your details</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
 
  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <%# this will only display fields if :profile exists %>
  <%= f.fields_for :member do |mf| %>
    <p><%= mf.label :background %></p>
    <p><%= mf.text_field :background %></p>
    <p><%= mf.label :career_plans %></p>
    <p><%= mf.text_field :career_plans %></p>
  <% end %>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>
  <div><%= f.submit "Update" %></div>
<% end %>
<%= link_to "Back", :back %>
</div>
