.box
  .page-header
    %h1 Account settings
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' } ) do |f|
    = f.error_notification
    .form-inputs
      = f.input :name,      :required => true, :hint => 'This will be displayed publicly. Can be a pseudonym.'
      = f.input :real_name, :hint => 'Never displayed publicly.'
      = f.input :email,     :required => true

      = field_set_tag "Authentications" do
        - authentications = current_user.authentications
        - unless authentications.empty?
          %br
          %p
            %strong Your account is linked to the following services:

          - authentications.each do |authentication|
            .authentication
              =image_tag "auth/#{authentication.provider}_64.png"
              .provider
                = authentication.provider.titleize
              .delete
                = link_to "remove &times;".html_safe, authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove"

          %p
            %strong Add another service to sign in with:
        - else
          %br
          %p
            %strong Sign in through one of these services:

        .auth-options
          = link_to (image_tag 'auth/facebook_32.png',      alt: "Sign in with Facebook"), '/auth/facebook',      id: 'fb-connect'
          = link_to (image_tag 'auth/google_oauth2_32.png', alt: "Sign in with Google"),   '/auth/google_oauth2', id: 'google-connect'

      = field_set_tag "Change password" do
        = f.input :password,              :label => "New password", :placeholder => "optional"
        = f.input :password_confirmation, :label => "New password confirmation", :placeholder => "optional"

    %hr

    = f.input :current_password, :label => "Current password", :required => true, :placeholder => "required to update details"

    .form-actions
      = f.button :submit, "Save profile", :class=>'btn btn-success btn-large'
