.page-header
  %h1 Become an 80,000 Hours member

.alert.alert-info
  The easiest way to create an 80,000 Hours account is to link to an existing account from Facebook or Google. This means you don't have yet another password to remember.
  You can do this by clicking the appropriate button.
  %br
  %br
  %strong Note:
  We only request the most limited data from Facebook or Google: just your name and email address.
  We will 
  %strong never
  post to your Facebook wall without your permission.

= render partial: 'authentications/options'

%hr

If you don't have an account with an external provider, or you just want to login to 80,000 Hours with an email and password, then #{link_to 'fill in the form below', nil, id: 'toggle-signup-form'}.


#signup-form
  %br
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal" }) do |f|
    = field_set_tag "Signup with email and password" do
      %br
      = f.error_notification
      .form-inputs
        = f.input :name, :required => false, :label => "Display name", :autofocus => true, :hint => "If you don't want your name to appear publicly, please enter a pseudonym here. We prefer our members to use their real names, because it enhances the credibility of the community, but we can understand that it may be better to remain anonymous. If you would like to use a pseudonym, please enter one which looks like a real name, rather than an acronym or single word."
        = f.input :real_name, :hint => "Never displayed publicly. Only required if you haven't used your real name above."
        = f.input :email
        = f.input :password
        = f.input :password_confirmation
      .form-actions
        = f.button :submit, "Sign up", class: 'btn btn-primary'

.box
  %hr
  = render "links"

<script>
$(document).ready( function() {
// hide the signup form unless errors
- if resource.errors.empty?
  $('#signup-form').css('display', 'none');

// change the link text to 'click here'
$('#toggle-signup-form').html( 'click here' );

// show signup form on click
$('#toggle-signup-form').attr( 'href', null );
$('#toggle-signup-form').click( function(){$('#signup-form').fadeIn();} )
});
</script>
