.page-header
  %h1 Sign up for an 80,000 Hours account

%p There are two ways to create an 80,000 Hours account

.row
  .span6
    .alert.alert-info
      %h1.alert-heading Use an existing account
      The easiest way to create an 80,000 Hours account is to link to an existing account from Facebook or Google. You can do this by clicking the appropriate button.

  .span6
    .alert.alert-info
      %h1.alert-heading Email and password
      If you don't have an account with an external provider, or you just want to login to 80,000 Hours with a username and password, then you can fill in the form below.

.row
  .span6
    = render partial: 'authentications/options'

  .span6
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal" }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :name, :required => false, :label => "Display name", :autofocus => true, :hint => 'This will be displayed publicly. Can be a pseudonym.'
        = f.input :real_name, :hint => 'Never displayed publicly.'
        = f.input :email
        = f.input :password
        = f.input :password_confirmation
      .form-actions
        = f.button :submit, "Sign up", class: 'btn btn-primary'

.box
  %hr
  = render "links"
