.box
  .page-header
    %h1 Career advice session
  %p 
    In an advice session, you’ll have a chance to talk to a member of the 80k
    Careers Research team. The session will start with the advisor aiming to
    understand your situation, after which they will suggest how to apply
    <a href="/career-research">our research</a> to your choices. They may also
    be able to introduce you to people with similar interests in the
    community or do follow up work.
    
  %p 
    Please glance at the <a href="/career-advice">basic ideas</a> behind our
    approach and <a href="/how-are-we-different">how our advice is
    different</a> before attending the session.
    
  %p 
    Please also note that our advice service is currently in a trial phase.
    One thing this means is that we sometimes run out of capacity, and we won’t
    always be able to give you a session.

  = simple_form_for @career_advice_request, :url => { :action => "create" }, :html => { :multipart => true, :class => 'form-horizontal' }  do |f|

    = f.error_notification

    = field_set_tag "Your contact details" do
      = f.input :name
      = f.input :email
      = f.input :skype, placeholder: 'optional',
        hint: 'required if you are unable to come to our office in Oxford'

      = f.input :background, :as => :text, placeholder: 'Briefly describe your background, what you currently do, and your interests.'
      = f.input :thoughts, :as => :text, label: 'What are your thoughts on how you could make a difference?'
      = f.input :questions, :as => :text, label: 'What questions do you have for our advisor?'
      = f.input :upload_cv, :as => :file, label: 'If you have a CV (even an old one) it would be helpful for us to have a look so that we can tailor our advice to you.'
      = f.input :mailing_list, :as => :boolean, :input_html => { :checked => true }, label: 'Would you like to receive our emails summarising our latest advice content?'
    .form-actions
      %p
        We think our advice is pretty good, after all, we based our career
        decisions on it, and our many members have found it helpful. But, at
        the end of the day, how you choose to use this information is up to
        you. We can't take responsibility for the outcomes of your choices.
        Our advisors are not professionally qualified career counsellors. We
        recommend you use our advice alongside that of a professionally
        qualified counsellor.
        
      %p
        As far as possible, what you talk about in your advice session is
        between you and the career advice team, *but we can't take
        responsibility for possible damages that could result from sharing
        information with us.* On request, we can make the session confidential 
        between you and the advisor.

      = f.button :submit, "Request session", :"data-loading-text" => "Please wait..."
