.comment{id: "comment-#{comment.id}"}
  .avatar
    - if comment.user
      = link_to (image_tag comment.user.avatar(:thumb)), user_path( comment.user )
  .content
    .header
      - if comment.user
        %span.name= link_to comment.get_name, user_path( comment.user )
      - else
        %span.name= comment.get_name
      %span.date= format_date(comment.created_at)
      .actions
        - if can? :manage, comment
          = link_to '&times; delete'.html_safe, comment, :method => :delete,
                                                         :class => 'delete-comment',
                                                         :confirm => 'Are you sure?',
                                                         :remote => true 
    .clearfix
    .body
      = markdown comment.body
    .reply
      = link_to 'reply', '#comment-form', class: "reply"
      .commentid= comment.id
      -#.replytext= "in reply to [#{comment.get_name}, #{format_date(comment.created_at)}](#comment-#{comment.id})";
