.comment{id: "comment-#{comment.id}"}
  .avatar
    = image_tag comment.user.avatar(:thumb)
  .content
    .header
      %span.name= comment.user.name
      %span.date= comment.created_at.day.ordinalize + ' ' + comment.created_at.strftime('%B %Y')
      .actions
        - if can? :manage, comment
          = link_to '&times; delete'.html_safe, comment, :method => :delete,
                                                         :class => 'delete-comment',
                                                         :remote => true 

    .clearfix
    .body
      = comment.body
