= simple_form_for( @comment, remote: true, html: { id: 'comment-form' } ) do |f|
  .errors.alert.alert-danger
  = f.input :body, placeholder: "Add a comment...", label: false, input_html: { style: 'height:100px;width:90%', id: 'comment-body' }
  - if !current_user
    / display fields for non-registered users
    = f.input :name
    = f.input :email
    = f.input :email_confirmation, label: 'Only fill this in if you are a robot...', input_html: { class: 'email_confirmation' }, label_html: { class: 'email_confirmation' }

  = button_tag "Post comment", :disable_with => "Please wait...", :class => 'btn btn-large'

  = f.input :blog_post_id, :as => :hidden
  = f.input :discussion_post_id, :as => :hidden
.comment-form-message
