= simple_form_for( @comment, remote: true ) do |f|
  = f.error_notification
  = f.input :body, label: false, input_html: { style: 'height:100px;width:80%' }
  = f.button :submit, "Post reply"
  = f.input :post_id, :as => :hidden
  = f.input :parent_id, :as => :hidden
