.box
  .page-header
    %h1 Resend unlock instructions
  = simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post,  :class => "form-horizontal" }) do |f|
    = f.error_notification
    = f.input :email
    .form-actions
      = f.button, :submit, "Resend unlock instructions"
  = render :partial => "devise/shared/links"
