.entry
  = render :partial => 'blog_posts/voting', :locals => { :post => post }

  .heading
    %h3
      %a{:href => blog_post_path(post)}
        = post.title
      - if post.draft
        %span.label.label-warning Draft post (not publicly visible)

    %h4
      %span.date
        by
      = link_to_blog_post_author( post )
      %span.date
        on
        = format_date( post.created_at )
      &nbsp;
      %span.comments-link= link_to pluralize(post.comments.size, 'comment'), blog_post_path(post) + "#comments"
  .clearfix
