.blog
  .row
    .span7
      .box
        .controls
          -#
            .sort
            - icon = ' <i class="icon-chevron-down"></i>'
            sort by: 
            = link_to "default#{@sort == nil ? icon : ''}".html_safe, '/blog'
            | 
            = link_to "date#{@sort == 'date' ? icon : ''}".html_safe, '?order=date'
            | 
            = link_to "votes#{@sort == 'votes' ? icon : ''}".html_safe, '?order=votes'
            |
            = link_to "popularity#{@sort == 'popularity' ? icon : ''}".html_safe, '?order=popularity'

        - if can? :manage, BlogPost
          .controls
            .user
              = link_to "New post", new_blog_post_path, :class => 'btn btn-success'

              = link_to 'My drafts', drafts_blog_posts_path, :class => 'btn'
        -#- if @heading
        -#   .page-header
        -#    %h1
        -#      = @heading

        - @posts.each do |post|
          - if @condensed
            = render :partial => 'display_heading',
                     :locals => { :post => post }
          - else
            = render :partial => 'display_teaser',
                     :locals => { :post => post }

        - if (@sort == nil) && (will_paginate @posts)
          .box.tight
            .center
              = page_navigation_links @posts
    .span1
      &nbsp;
    .span4
      .box.sidebar.blog-sidebar
        = render :partial => "rss"
        %hr
        = render :partial => "popular_posts"
        %hr
        = render :partial => "latest_discussion_posts"
        %hr
        = render :partial => "disclaimer"
        %hr
        = render :partial => "latest_comments"
        %hr
        = render :partial => "tag_cloud"
        %hr
        = render :partial => "authors"
        %hr
        