.blog
  .row
    .span7
      = link_to '<i class="icon-list"></i> Back to the blog'.html_safe, blog_posts_path
      = render @post
    .span1
      &nbsp;
    .span4
      .box.sidebar
        %hr
        <div class="fb-like" data-href="#{blog_post_url{@post}" data-colorscheme="dark" data-send="true" data-width="430" data-show-faces="false"></div>
        = render :partial => "rss"
        %hr
        = render :partial => "popular_posts"
        %hr        
        = render :partial => "disclaimer"
        %hr
        = render :partial => "latest_comments"
        %hr
        = render :partial => "authors"
        %hr
        = render :partial => "tag_cloud"


