.blog
  .row
    .span7
      = link_to '<i class="icon-list"></i> Back to the blog'.html_safe, blog_posts_path
      = render @post
    .span1
      &nbsp;
    .span4
      .box.sidebar
        %hr
        <fb:like href="#{blog_post_url(@post)}" send="false" width="250" show_faces="false"></fb:like>
        = render :partial => "rss"
        %hr
        = render :partial => "popular_posts"
        %hr
        = render :partial => "disclaimer"
        %hr
        = render :partial => "latest_comments"
        %hr
        = render :partial => "authors"
        %hr
        = render :partial => "tag_cloud"


