.row
  .span2
    .member-profile
      .sidebar
        .avatar
          = link_to image_tag(member.avatar.url(:medium)), member.avatar.url
        %hr

        - if member.location?
          %h5 Location
          = member.location
          %hr

        %h5 Member since 
        = profile.created_at.strftime "%B %Y"

        -if member.external_links?
          %hr
          %h5 External links

          - if member.external_twitter?
            = link_to image_tag("social/twitter.png") + " Twitter".html_safe, member.external_twitter
            %br
          
          - if member.external_facebook?
            = link_to image_tag("social/facebook.png") + " Facebook".html_safe, member.external_facebook
            %br
          
          - if member.external_linkedin?
            = link_to image_tag("social/linkedin.png") + " LinkedIn".html_safe, member.external_linkedin
            %br

        %hr
        %h5 Navigation
        = link_to '<i class="icon-user"></i> member list'.html_safe, users_path

  .span8
    .member-profile
      .main
        .page-header
          %h1= profile.name
          %h2.location
            - if profile.organisation?
              = profile.organisation
            - elsif member.location?
              = member.location
        .donations
          %p
            = member_donations member.donations.sum(:amount)
        
        - if profile.background?
          %h2 Background and interests
          = markdown profile.background
          %hr
        
        - if profile.inspiration?
          %h2 My inspiration for joining 80,000 Hours
          = markdown profile.inspiration
          %hr
        
        - if profile.occupation?
          %h2 Current job/occupation
          = markdown profile.occupation
          %hr
        
        - if profile.career_plans?
          %h2 Career plans
          = markdown profile.career_plans
          %hr
        
        - if profile.doing_good_inspiring? || profile.doing_good_research? || profile.doing_good_philanthropy? || profile.doing_good_prophilanthropy? || profile.doing_good_innovating? || profile.doing_good_improving
          %h2 Type of Career
          %ul 
            - if profile.doing_good_inspiring?
              %li Inspiring others
            - if profile.doing_good_research?
              %li High impact research
            - if profile.doing_good_philanthropy?
              %li Philanthropy
            - if profile.doing_good_prophilanthropy?
              %li Professional philanthropy
            - if profile.doing_good_innovating?
              %li Innovating
            - if profile.doing_good_improving?
              %li Improving
          %hr
        
        - if profile.organisation_role?
          %h2 Role in 80,000 Hours
          = markdown profile.organisation_role
          %hr
        
        - if profile.interesting_fact?
          %h2 Interesting fact
          = markdown profile.interesting_fact
          %hr
        
