.row
  .span2
    .member-profile
      .sidebar
        .avatar
          = link_to image_tag(member.avatar.url(:medium)), member.avatar.url

        - if member.location?
          %p
            %h5 Location
            = member.location

        %p
          %h5 Member since 
          = profile.created_at.strftime "%B %Y"

        %p
          %h5 Donations
          - total = member.donations.confirmed.is_public_amount.sum(:amount)
          - if total > 0
            = to_pounds( total )
          - if member.donations.confirmed.is_public.size > 0
            = link_to 'view', "##{member.slug}-donations"

        - upvotes = member.votes.upvotes.recent
        - if upvotes.size > 0
          %p
            %h5 Recent activity
            - upvotes.each do |v|
              liked blog post:
              %br
              =link_to v.post.title, post_path(v.post)
              %br

        -if member.external_links?
          %p
            %h5 External links
            - if member.external_website?
              = link_to " Personal website".html_safe, member.external_website
              %br

            - if member.external_twitter?
              = link_to image_tag("social/twitter.png") + " Twitter".html_safe, member.external_twitter
              %br
            
            - if member.external_facebook?
              = link_to image_tag("social/facebook.png") + " Facebook".html_safe, member.external_facebook
              %br
            
            - if member.external_linkedin?
              = link_to image_tag("social/linkedin.png") + " LinkedIn".html_safe, member.external_linkedin
              %br

        %p
          %h5 Navigation
          = link_to '<i class="icon-user"></i> member list'.html_safe, users_path

  .span8
    .member-profile
      .main
        .page-header
          %h1= profile.name
          %h2.location
            - if profile.organisation?
              = profile.organisation
            - elsif member.location?
              = member.location
        
        - if profile.background?
          %h2 Background and interests
          = markdown profile.background
          %hr
        
        - if profile.inspiration?
          %h2 My inspiration for joining 80,000 Hours
          = markdown profile.inspiration
          %hr
        
        - if profile.occupation?
          %h2 Current job/occupation
          = markdown profile.occupation
          %hr
        
        - if profile.career_plans?
          %h2 Career plans
          = markdown profile.career_plans
          %hr
        
        - if profile.doing_good_inspiring? || profile.doing_good_research? || profile.doing_good_philanthropy? || profile.doing_good_prophilanthropy? || profile.doing_good_innovating? || profile.doing_good_improving
          %h2 Type of Career
          %ul 
            - if profile.doing_good_inspiring?
              %li Inspiring others
            - if profile.doing_good_research?
              %li High impact research
            - if profile.doing_good_philanthropy?
              %li Philanthropy
            - if profile.doing_good_prophilanthropy?
              %li Professional philanthropy
            - if profile.doing_good_innovating?
              %li Innovating
            - if profile.doing_good_improving?
              %li Improving
          %hr
        
        - if profile.organisation_role?
          %h2 Role in 80,000 Hours
          = markdown profile.organisation_role
          %hr
        
        - if profile.interesting_fact?
          %h2 Interesting fact
          = markdown profile.interesting_fact
          %hr

        - if member.donations.confirmed.is_public.size > 0
          .donations{:id => "#{member.slug}-donations"}
            %h2
              Donations
              -#= to_pounds( member.total_confirmed_donations )
            %p
              %ul
                - donations.each do |d|
                  - if d.public
                    %li
                      = render :partial => 'shared/show_donation', :locals => { :donation => d }
          %hr
