.box
  .page-header
    %h1= "#{@users.size} member profiles"
  %br
  
  = render :partial => 'search_form'
  
  Jump to:&nbsp;
  - @grouped_users.each do |letter,users|
    =link_to letter, "##{letter}"
    &nbsp;|&nbsp;
  
  %br
  %br
  %h3 Newest members
  %br

  - @newest_users.in_groups_of(4) do |users|
    - users.each do |user|
      .span2
        = render :partial => 'member_condensed', :locals => { :member => user }
    .clearfix
  %hr

  - count = 0
  - @grouped_users.each do |letter,users|
    .span3
      .page-header{:id => letter}
        %h1=letter
      - users.each do |user|
        = render :partial => 'member_condensed', :locals => { :member => user }
    - count += 1
    = (count % 3 == 0) ? "<div class='clearfix'></div>".html_safe : ""
  .clearfix
