<div class="box">
  <%= markdown "
All the members of 80,000 Hours publicly agree to a _declaration of intent_:
that is, we all agree to the general aim of pursuing a career as an effective
altruist, and we each say individually how we’re going to fulfill that aim. By
publicly declaring our intentions, we have an opportunity to think about our
altruistic goals, give ourselves a way to signal our aims to others, and a way
of ‘tying ourselves to the mast’ - helping us to live up to our ethical ideals
in our later life.

Our declaration of intent is as follows:

<div class='box'>
<strong>I declare that I aim to pursue a career as an effective altruist.</strong>

<p>
This means that I intend to:

<ul>
<li>(i) Devote a significant proportion of my time or resources to helping others.</li>
<li>(ii) Use the time or resources I give as effectively as possible in helping others.</li>
<li>(iii) Make my career decisions based at least in part on how it enables me to further my altruistic aims.</li>
</ul>
</div>

In addition every member, in joining the 80,000 Hours community, agrees to report on
their altruistic activities every year.

Please fill out the short form below in order to join.
" %>

  <hr/>

  <h1 id="application_form">Join us!</h1>
  <% if @user.errors.any? %>
    <div class="alert">
      <div id="errorExplanation">
        <h1><%= pluralize(@user.errors.count, "error") %> prohibited this application from being accepted!</h1>
        Please fill in all the required fields, and make sure to accept the pledge!
        <ul>
          <% @user.errors.reverse_each do |field,msg| %>
            <%# only want to print field if coming from Devise (password, or email). %>
            <%# otherwise we print our custom error messges as defined in models user and member %>
            <li><%= (field == :password || field == :email) ? field.to_s.humanize : '' %> <%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="profile-form">
    <%= form_for(@user, :url=>"/members#application_form") do |u| %>
        <p><%= u.label :name %></p>
        <p><%= u.text_field :name %></p>
        <p><%= u.label :email %></p>
        <p><%= u.email_field :email %></p>
        <p><%= u.label :password %></p>
        <p><%= u.password_field :password %></p>
        <p><%= u.label :password_confirmation %></p>
        <p><%= u.password_field :password_confirmation %></p>

      <%= u.fields_for :member do |m| %>
          <p><%= m.label :apply_occupation, "What do you currently do?" %></p>
          <p><%= m.text_area :apply_occupation %></p>

          <p><%= m.label :apply_career_plans, "How do you plan to use your career to fulfil the pledge?" %></p>
          <p><%= m.text_area :apply_career_plans %></p>

          <p><%= m.label :apply_reasons_for_joining, "Why would you like to join 80,000 Hours?" %></p>
          <p><%= m.text_area :apply_reasons_for_joining %></p>

          <p><%= m.label :apply_heard_about_us, "Where did you hear about 80,000 Hours?" %></p>
          <p><%= m.text_area :apply_heard_about_us %></p>

          <p><%= m.label :apply_spoken_to_existing_member, "Have you spoken to an existing member about 80,000 Hours? If so, who did you speak to and how do you know them?" %></p>
          <p><%= m.text_area :apply_spoken_to_existing_member %></p>
      <% end %>

      <hr/>
      <h1>The Pledge</h1>
      <p>
      <%= render :partial => 'shared/pledge' %>
      </p>
      <div class="center">
        <%= u.fields_for :member do |m| %>
          <p><%= m.check_box 'pledge' %> I hereby accept the pledge. (<a href="/application-faq">Questions?</a>)</p>
        <% end %>
      </div>
    </div>

    <div class="center">
      <%= u.submit "Take the pledge and apply to join 80,000 Hours", :class=>"button" %>
    </div>
  <% end %>
</div>
