<%= javascript_include_tag "application-form.js" %>

<div class="box">

<%= markdown "
All the members of 80,000 Hours publicly agree to a _declaration of intent_:
that is, we all agree to the general aim of pursuing a career as an effective
altruist, and we each say individually how we’re going to fulfill that aim. By
publicly declaring our intentions, we have an opportunity to think about our
altruistic goals, give ourselves a way to signal our aims to others, and a way
of ‘tying ourselves to the mast’ - helping us to live up to our ethical ideals
in our later life.

Our declaration of intent is as follows:"
%>

<div class="box">
<%= render :partial => 'shared/declaration' %>
</div>

<%= markdown "
+-- {.box}
##Reporting
In addition every member, in joining the 80,000 Hours community, agrees to report on
their altruistic activities every year.
=--

Some common questions about the declaration are covered in the [declaration FAQ](/faq#declaration) page.

Please fill out the short form below in order to join.
" %>

</div>

<div class="span4">
<br/>
<h1 id="application_form">80,000 Hours application</h1>

<% if @user.errors.any? %>
  <hr/>
  <div class="alert">
    <div id="errorExplanation">
      <h1><%= pluralize(@user.errors.count, "error") %> prohibited this application from being accepted!</h1>
      Please fill in all the required fields, and make sure to accept the pledge!
      <ul>
        <% @user.errors.reverse_each do |field,msg| %>
          <%# only want to print field if coming from Devise (password, or email). %>
          <%# otherwise we print our custom error messges as defined in models user and member %>
          <li><%= (field == :password || field == :email) ? field.to_s.humanize : '' %> <%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<hr/>

<%= simple_form_for @user, :url=>"/members#application_form", :html => { :class => 'form-horizontal' } do |f| %>
  <%= field_set_tag 'Your details' do %>
    <%= f.input :name, :hint => 'Will be displayed publicly (can be a pseudonym)' %>
    <%= f.simple_fields_for :member do |m| %>
      <%= m.input :real_name, :hint => 'This will not be displayed publicly', :placeholder => 'optional'  %>
    <% end %>
    <%= f.input :email, :required => :true %>
    <%= f.input :password, :required => :true %>
  <% end %>

  <%= field_set_tag 'Your plans' do %>
  <%= f.simple_fields_for :member do |m| %>
    <%= m.simple_fields_for :eighty_thousand_hours_application do |e| %>
      <hr/>
      <%= e.input :career_plans, :placeholder => "How do you plan to use your career to fulfil the declaration?", :as => :text, :required => true %>

      <hr/>

      <div class="control-group check_boxes">
      <label>
      <p>Which high impact activites do you intend to be involved in?</p>
      </label>
      <div class="controls">
        <%= e.input :doing_good_inspiring,       :label => "Inspiring" %>
        <%= e.input :doing_good_improving,       :label => "Improving" %>
        <%= e.input :doing_good_philanthropy,    :label => "Philanthropy" %>
        <%= e.input :doing_good_prophilanthropy, :label => "Professional philanthropy" %>
        <%= e.input :doing_good_innovating,      :label => "Innovating" %>
        <%= e.input :doing_good_research,        :label => "Research" %>
      </div>
      </div>

      <hr/>

      <div class="slider-container">
      <label>How much do you expect to donate to the highest impact causes?</label>
      <div class="slider-group">
      <p><strong>I intend to donate around <span class="slider_value emphasise"><span id="user_member_attributes_eighty_thousand_hours_application_attributes_donation_percentage_display"></span>%</span> of my salary each year.</strong></p>
      <div id="user_member_attributes_eighty_thousand_hours_application_attributes_donation_percentage_slider"></div>
      </div>
      </div>
      <%= e.input :donation_percentage, :as => :hidden %>
      <br/>
      <%= e.input :donation_percentage_comment, :placeholder => "optional", :label => "Comments about donations", :required => false %>

      <hr/>

      <div class="control-group check_boxes">
      <label>
      Which causes do you intend to donate to?
      </label>
      <div class="controls">
        <%= e.input :causes_givewell,      :label => "GiveWell recommended charities"%>
        <%= e.input :causes_gwwc,          :label => "GWWC recommended charities" %>
        <%= e.input :causes_political,     :label => "Political charities" %>
        <%= e.input :causes_animal,        :label => "Animal charities" %>
        <%= e.input :causes_xrisk,         :label => "X-risk charities" %>
        <%= e.input :causes_meta,          :label => "Meta-philanthropy charities" %>
        <%= e.input :causes_domestic,      :label => "Other domestic charities" %>
        <%= e.input :causes_international, :label => "Other international charities" %>
      </div>
      </div>
      <br/>
      <%= e.input :causes_comment, :placeholder => "optional", :label => "Comments about causes", :required => false %>

      <hr/>

      <div class="slider-container">
      <label>How much do you expect to earn on average per year?  </label>
      <div class="slider-group">
      <p><strong>I expect to earn <span class="slider_value emphasise">£<span id="user_member_attributes_eighty_thousand_hours_application_attributes_average_income_display"></span></span> a year on average over my career.</strong></p>
      <div class="slider" id="user_member_attributes_eighty_thousand_hours_application_attributes_average_income_slider"></div>
      </div>
      </div>
      <%= e.input :average_income, :as => :hidden %>
      <br/>
      <%= e.input :average_income_comment, :placeholder => "optional", :label => "Comments about earnings", :required => false %>

      <hr/>

      <div class="slider-container">
      <label>How many hours a week do you expect to spend on high impact activities (excluding earning)?</label>
      <div class="slider-group">
      <p><strong>I intend to spend around <span class="slider_value emphasise"><span id="user_member_attributes_eighty_thousand_hours_application_attributes_hic_activity_hours_display"></span> hours</span> 
         a week on high impact activities.</strong></p>
      <div class="slider" id="user_member_attributes_eighty_thousand_hours_application_attributes_hic_activity_hours_slider"></div>
      </div>
      </div>
      <%= e.input :hic_activity_hours, :as => :hidden %>
      <br/>
      <%= e.input :hic_activity_hours_comment, :placeholder => "optional", :label => "Comments about activities", :required => false %>

      <hr/>

      <%= e.input :occupation, :label => "What do you currently do?", :as => :text, :required => true %>

      <hr/>

      <%= e.input :spoken_to_existing_member, :label => "Have you spoken to an existing member about 80,000 Hours?", :placeholder => "If so, who?", :required => false %>
    <% end %>
    <% end %>
  <% end %>

<hr/>

  <h1>The Declaration</h1>
  <p>
    <%= render :partial => 'shared/declaration' %>
  </p>
  <%= f.simple_fields_for :member do |m| %>
    <%= m.simple_fields_for :eighty_thousand_hours_application do |e| %>
      <%= e.input :pledge, :label => "I agree to the declaration of intent" %>
    <% end %>
  <% end %>

<%= f.button :submit, "Apply to join 80,000 Hours", :class=> "btn-primary btn-large" %>
<a class="btn btn-large" href="/">Cancel</a>

<% end %>
</div>

