.box
  .page-header
    %h1= @user.name

  - if @user.etkh_profile
    #{@user.name} is an 80,000 Hours member. #{link_to 'View their profile here', (etkh_profile_path @user)}.

  - if @user.discussion_posts.any?
    .page-header
      %h2 Discussion posts

    - @user.discussion_posts.each do |post|
      - if !post.draft || post.user == current_user
        .blog
          = render :partial => 'discussion_posts/display_heading',
                   :locals => { :post => post }

  - if @user.blog_posts.any?
    .page-header
      %h2 Blog posts
    
    - @user.blog_posts.each do |post|
      - if !post.draft || post.user == current_user
        .blog
          = render :partial => 'blog_posts/display_heading',
                   :locals => { :post => post }

  - if @user.comments.any?
    .page-header
      %h2 Comments
    
    #comments
      - @user.comments.each do |comment|
        .comment
          %h4 Posted a comment in #{link_to comment.blog_post.title, comment.blog_post}:
          = render comment
