.row
  .span2
    .box.sidebar
      = render :partial => "/shared/cause_donation_member_sidebar"

  .span10
    .box.left-border
      .page-header
        %h1 Causes
      %p
        This page lists all the causes that 80,000 Hours members have donated to.
        Click on the name to learn more about how and why we support a particular cause.

      %p
        The description of each cause is written by our members, so 80,000 Hours does
        not guarantee its accuracy. It should also not be taken as a recommendation.
        For donations to fight global poverty, we recommend checking the latest
        recommendations of the charity evaluators #{link_to 'Givewell', 'http://www.givewell.org/'} and #{link_to 'Giving What We Can', 'http://www.givingwhatwecan.org/'}. For
        donations to other causes, like animal welfare, existential risk and political
        campaigning, little published research exists, and we recommend doing your own
        research. For a few ideas, see #{link_to 'here', 'http://80000hours.org/blog/6-the-best-causes-updated'}

      %p
        To make a donation visit the 
        = link_to "donations page", donations_path
      %hr
      - if @causes
        %ul
          - @causes.each do |c|
            %li
              %h3
                =link_to c.name, cause_path(c)
      %hr
