<%# Input locals:   
        :member instance of Member model
        :total  sum of member donations
%>
<div class="member-profile">
  <% if user_signed_in? && current_user.member == member %>
    <div class="center">
      <%= link_to "Edit Your Profile", "/accounts/edit", :class=>"small-button" %>
    </div>
    <hr/>
  <% end %>

  <% if member.avatar? %>
  <div class="avatar">
    <%= link_to image_tag(member.avatar.url(:medium)), member.avatar.url %>
  </div>
  <% end %>
  
  <% if member.name %>
  <div class="name">
    <%= member.name %>
    <% if member.location? %>
      <span class="location">
       &nbsp;  <%= member.location %>
      </span>
    <% end %>
  </div>
  <% end %>
  
  <div id="donations">
    <p>
      <%= member_donations member.donations.sum(:amount) %>
    </p>
  </div>
  
  <div class="join-date">
    <p>
    Member since <%= member.created_at.strftime "%B %Y" %>
    </p>
  </div>

  <% if member.organisation? %>
  <div class="organisation">
    <h2>Organisation/Company/University</h2>
    <%= markdown member.organisation %>
  </div>
  <% end %>

  <% if member.background? %>
  <div class="background">
    <h2>Background and interests</h2>
    <%= markdown member.background %>
  </div>
  <% end %>
  
  <% if member.inspiration? %>
  <div class="inspiration">
    <h2>My inspiration for joining 80,000 Hours</h2>
    <%= markdown member.inspiration %>
  </div>
  <% end %>

  <% if member.occupation? %>
  <div class="occupation">
    <h2>Current job/occupation</h2>
    <%= markdown member.occupation %>
  </div>
  <% end %>

  <% if member.career_plans? %>
  <div class="career-plans">
    <h2>Career plans</h2>
    <%= markdown member.career_plans %>
  </div>
  <% end %>

  <% if member.doing_good_inspiring? || member.doing_good_research? || member.doing_good_prophil? || member.doing_good_innovating? || member.doing_good_improving %>
  <div class="doing-good-options">
    <h2>Type of Career</h2>
    <ul>
    <% if member.doing_good_inspiring? %>
      <li>Inspiring others</li>
    <% end %>
    <% if member.doing_good_research? %>
      <li>High impact research</li>
    <% end %>
    <% if member.doing_good_prophil? %>
      <li>Professional philanthropy</li>
    <% end %>
    <% if member.doing_good_innovating? %>
      <li>Innovating</li>
    <% end %>
    <% if member.doing_good_improving? %>
      <li>Improving</li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <% if member.organisation_role? %>
  <div class="organisation-role">
    <h2>Role in 80,000 Hours</h2>
    <%= markdown member.organisation_role %>
  </div>
  <% end %>

  <% if member.interesting_fact? %>
  <div class="interesting-fact">
    <h2>Interesting fact</h2>
    <%= markdown member.interesting_fact %>
  </div>
  <% end %>

  <% if member.external_twitter? || member.external_facebook? || member.external_linkedin? %>
    <div class="external">
      <h2>External links</h2>
      <% if member.external_twitter? %>
        <div class="twitter">
          <a href="<%= member.external_twitter %>">
            <%= image_tag( "social/twitter.png") %> Twitter
          </a>
        </div>
      <% end %>

      <% if member.external_facebook? %>
        <div class="facebook">
          <a href="<%= member.external_facebook %>">
            <%= image_tag( "social/facebook.png") %> Facebook
          </a>
        </div>
      <% end %>

      <% if member.external_linkedin? %>
        <div class="linkedin">
          <a href="<%= member.external_linkedin %>">
            <%= image_tag( "social/linkedin.png") %> LinkedIn
          </a>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
