<div class="member-profile">
  <% if member.avatar %>
  <div class="avatar">
    <%= link_to image_tag(member.avatar.url(:small)), member.avatar.url %>
  </div>
  <% end %>

  <% if member.name %>
  <div class="name">
     <%= link_to member.name, "/members/#{member.slug}" %>    <% if member.location %>
      <span class="location">
       &nbsp;  <%= member.location %>
      </span>
    <% end %>
  </div>
  <% end %>

  <% if member.background %>
  <div class="background">
    <h2>Background</h2>
    <%= member.background %>
  </div>
  <% end %>

  <% if member.career_plans %>
  <div class="career-plans">
    <h2>Career plans</h2>
    <%= member.career_plans %>
  </div>
  <% end %>

  <% if member.interesting_fact %>
  <div class="interesting-fact">
    <h2>Interesting fact</h2>
    <%= member.interesting_fact %>
  </div>
  <% end %>
</div>
