<%# Input locals:   
        :member instance of Member model
        :link_name (bool) specifies whether we want linked name
        :show_avatar (bool) specifies whether we want to display avatar
        :condensed (bool) specifies whether we want just name, location, optional image, or full profile
%>
<div class="member-profile">
  <% if member.avatar? && show_avatar && !condensed %>
  <div class="avatar">
    <%= link_to image_tag(member.avatar.url(avatar_size)), member.avatar.url %>
  </div>
  <% end %>

  <% if member.name %>
  <div class="name">
    <% if link_name %>
       <%= link_to member.name, "/members/#{member.slug}" %>
    <% else %>
       <%= member.name %>
    <% end %>
    <% if member.location? %>
      <span class="location">
       &nbsp;  <%= member.location %>
      </span>
    <% end %>
  </div>
  <% end %>

  <% if !condensed %>
    <% if member.background? %>
    <div class="background">
      <h2>Background</h2>
      <%= markdown member.background %>
    </div>
    <% end %>

    <% if member.career_plans? %>
    <div class="career-plans">
      <h2>Career plans</h2>
      <%= markdown member.career_plans %>
    </div>
    <% end %>

    <% if member.inspiration? %>
    <div class="inspiration">
      <h2>Who introduced you to the idea, what inspired you to join?</h2>
      <%= markdown member.inspiration %>
    </div>
    <% end %>

    <% if member.organisation_role? %>
    <div class="organisation-role">
      <h2>Role in <%= org_name %></h2>
      <%= markdown member.organisation_role %>
    </div>
    <% end %>

    <% if member.interesting_fact? %>
    <div class="interesting-fact">
      <h2>Interesting fact</h2>
      <%= markdown member.interesting_fact %>
    </div>
    <% end %>
  <% end %>
</div>
