- if donation.user == current_user
  = link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_donation_path(donation), :class => 'edit'

- if donation.public?
  = link_to donation.user.name, etkh_profile_path(donation.user)
- else
  = "An anonymous member"

donated

- if donation.public_amount?
  %strong
    = donation.with_currency

to
= link_to donation.cause.name, cause_path(donation.cause)

on
- date = (donation.date ? donation.date : donation.created_at)
= date.strftime('%d %B, %Y')
