<div id="interaction">
  <div class="user-login">
  <% if user_signed_in? %>
    <%= link_to current_user.name, user_path(current_user) %>
    (<%= link_to "Edit Profile", "/accounts/edit" %>)
    | <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
    <% if can? :access, :admin %>
    | <%= link_to "Admin", admin_dashboard_path %>
    <% end %>
    | <%= link_to "Help", "/contact-us" %>
  <% else %>
    <%= link_to "Login", new_user_session_path %>
    | <%= link_to "Contact Us", "/contact-us" %>
    | <%= link_to "Show Your Support", "/show-your-support" %>
  <% end %>
  </div>

  <div class="social">
    <%= render :partial => 'shared/mailing_list', :locals => { :text => "", :klass => "header", :button_text=>"Stay updated" } %>
    <%= link_to image_tag( "social/facebook.png", :class => "social_image" ),   "http://facebook.com/80000Hours" %>
    <%= link_to image_tag( "social/twitter.png", :class => "social_image" ),    "http://twitter.com/80000Hours" %>
    <%= link_to image_tag( "social/googleplus.png", :class => "social_image" ), "https://plus.google.com/105296499458344309465" %>
    <%= link_to image_tag( "social/atom.png", :class => "social_image" ),       "http://80000hours.org/blog/feed.atom" %>
  </div>

  <br/>
  <!-- Google Custon Search -->
  <div>
  <div id="cse-search-form" style="width: 360px;float:right;margin:0px;padding:0px">Loading</div>
  <script src="http://www.google.co.uk/jsapi" type="text/javascript"></script>
  <script type="text/javascript"> 
    google.load('search', '1', {language : 'en'});
    google.setOnLoadCallback(function() {
      var customSearchOptions = {};  var customSearchControl = new google.search.CustomSearchControl(
        '009388358202617850858:rrdhw8ocoye', customSearchOptions);
      customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
      var options = new google.search.DrawOptions();
      options.setAutoComplete(true);
      options.enableSearchboxOnly("http://80000hours.org/search");
      customSearchControl.draw('cse-search-form', options);
    }, true);
  </script>
  <link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />
 <style type="text/css">
    input.gsc-input {
      border-color: #D9D9D9;
    }
    input.gsc-search-button {
      border-color: #666666;
      background-color: #ffffff;
    }
  </style>
  </div>
</div>
