<div class="box">
  <h2>Chat to us...</h2>
  <p>
  We’re always happy to hear from people who are interested in 80,000 hours, and
  we often find it’s the best way to explain our ideas. Feel free to contact us
  with the form below, and we'll put you in touch with a current member.
  </p>

  <hr/>

  <%= form_for @chat_request, :url => { :action => "create" }, :html => { :method => :post } do |f| %>
    <%= field_set_tag "Your contact details" do %>
      <div>
        <%= f.label(:name, "Your name:") %>
        <br/>
        <%= f.text_field(:name) %>
      </div>

      <div>
        <%= f.label(:email, "Email:") %>
        <br/>
        <%= f.text_field(:email) %>
      </div>
      <div>
        <%= f.label(:phone, "Phone (optional):") %>
        <br/>
        <%= f.text_field(:phone) %>
      </div>
      <div>
        <%= f.label(:skype, "Skype (optional):") %>
        <br/>
        <%= f.text_field(:skype) %>
      </div>
    <% end %>

    <%= field_set_tag "What do you want to chat about?" do %>
      <div>
        <%= f.check_box(:options_career) %>
        <%= f.label(:options_career, "Your career") %>
      </div>

      <div>
        <%= f.check_box(:options_joining) %>
        <%= f.label(:options_joining, "Joining 80,000 Hours") %>
      </div>

      <div>
        <%= f.check_box(:options_questions) %>
        <%= f.label(:options_questions, "Questions") %>
      </div>

      <div>
        <%= f.check_box(:options_other) %>
        <%= f.label(:options_other, "Other") %>
      </div>
      <div>
        <%= f.label(:other_text, "Details:") %>
        <br/>
        <%= f.text_area(:other_text) %>
      </div>
    <% end %>
    <%= f.submit 'Submit', :class=>"button" %>
  <% end %>
</div>
