= markdown "Use [Markdown syntax](http://daringfireball.net/projects/markdown/syntax) to format text"
%hr
= simple_form_for @page, :html => { :class => 'form-horizontal' }, :defaults=>{:input_html=>{:class=>'span4'}}  do |f|
  -if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg

  .field
    = field_set_tag "Title" do |s|
      = f.input :title, :required => true, :hint => 'changing this will break existing links to this page'
      - if !@page.just_a_link
        = f.input :header_title, :placeholder => 'optional', :hint => "used in &lt;title&gt; tag".html_safe

    = field_set_tag "Content" do |s|
      = f.input :just_a_link, :label => "Just a link?", :as => :boolean
      - if @page.just_a_link
        = f.input :body, :label => "Link to:", :as => :string
      - else
        = f.input :body, :label => false, :input_html => { :rows => '30', :class => 'span8' }
        = f.input :show_box, :label => "Box border?", :as => :boolean

    = field_set_tag "Menu" do |s|
      -#= f.association :parent, :as => :select, :label => "Parent page"
      = f.input :menu_priority, :label => "Menu priority", :hint => "Page with highest priority will appear first in the menu"
      = f.association :parent, :collection => Page.all(:order => 'title'), :label => "Parent page"
      = f.input :menu_display,   :label => "Display in menu?", :as => :boolean
      = f.input :menu_display_in_footer, :label => "Display in footer?", :as => :boolean
      = f.input :menu_top_level, :label => "Top level menu?", :as => :boolean

    .center
      = f.button :submit, "Save page", :class => 'btn btn-large btn-success'
      = link_to "Cancel", pages_path, :class => 'btn btn-large'
