= form_for @page do |f|
  -if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
    %br
    = f.label :header_title
    (optional: used in &lt;title&gt; tag)
    = f.text_field :header_title
    %hr
    = markdown "Use [Markdown syntax](http://daringfireball.net/projects/markdown/syntax) to format text"
    = f.text_area :body
    %br
    = f.label :show_title
    = f.check_box :show_title
    %br
    = f.label :show_box
    = f.check_box :show_box
  .actions
    = f.submit 'Save'
