.box
  .center.page-header
    %h1 The 80,000 Hours Team

  .center
    - @team_profiles.each do |team_name, team_members|
      - if team_members.size > 0
        = link_to team_name, "##{team_name}", :class => 'btn btn-large'

- @team_profiles.each do |team_name, team_members|
  - if team_members.size > 0
    .box
      .center.page-header{:id => team_name}
        %h1= team_name

      - team_members.each do |member|
        .box
          = render :partial => 'eighty_thousand_hours_profiles/profile', :locals => { :profile => member.eighty_thousand_hours_profile }

      .center
        = link_to 'back to top', '#content'
