- if @donation.errors.any?
  .alert.alert-error
    <a class="close" data-dismiss="alert">×</a>
    %h4.alert-heading 
      = pluralize(@donation.errors.count, "error")
      prohibited this donation from being processed!
    %ul
      - @donation.errors.reverse_each do |field,msg|
        %li
          = msg

= simple_form_for @donation, :html => {:class => 'form-horizontal'} do |f|
  = field_set_tag 'Donation details' do
    - if( page == :edit )
      = f.association :cause, :disabled => true, :required => false
      = f.input :currency, :disabled => true
      = f.input :currency, :disabled => true, :collection => ['GBP','USD','EUR'], :as => :radio_buttons, :input_html => {:style => 'text-align: left'}
      = f.input :amount, :disabled => true
    - else
      = f.association :cause, :required => true,
                      :hint => "cause not listed? #{link_to "add it here", new_cause_path }".html_safe
      = f.input :currency, :collection => ['GBP','USD','EUR'], :as => :radio_buttons, :input_html => {:style => 'text-align: left'}
      = f.input :amount, :required => true
    = f.input :date, :as => :string, :placeholder => 'mm/dd/yyyy', :required => true, :input_html => { id: 'datepicker' }

    <script>$(document).ready(function(){$('#datepicker').datepicker({format: 'mm/dd/yyyy'});});</script>
  = field_set_tag "#{ (page == :new ) ? 'Accountability' : 'Privacy' }" do
    - if( page == :new )
      = f.input :receipt, :hint => "PDF donation receipt from cause"
      %p
        %strong Note:
        Instead of uploading a receipt, you can submit this form and then
        forward a donation receipt to 
        = link_to 'donations@80000hours.org', 'mailto:donations@80000hours.org'
        Please include your name in the email subject line.
    = f.input :public, :label => 'Display donation publicly?'
    = f.input :public_amount, :label => 'Make amount donated public?'
  %hr
  .center
    = f.button :submit, "Submit donation",
               :class=> "btn form btn-large btn-primary",
               :"data-loading-text" => "Submitting... please wait"

