.row
  .span2
    .box.sidebar
      = render :partial => "shared/cause_donation_member_sidebar"

  .span10
    .box.left-border
      .page-header
        %h1 Donations


      %p
        If you're an 80,000 Hours member and would like your charitable donations to be associated with
        your account, then please follow the steps:
        %ol
          %li Make a donation to a cause through <strong>their website</strong>
          %li Click the button below to <strong>submit your donation receipt to us</strong>
      
        = link_to 'Submit donation', new_donation_path, :class => 'btn'
      
      %hr
      - if @your_donations
        %h2 Your donations
        %p
          %ul
            - @your_donations.each do |donation|
              %li
                = render donation
        %hr

      = render 'donations/thermometer'

      %hr

      %h2 Here are some recent donations
      - if @donations
        %p
          %ul
            - @donations.each do |donation|
              %li
                = render donation
