.row
  .span2
    .box.sidebar
      = render :partial => "/shared/charity_donation_member_sidebar"

  .span8
    .box.left-border
      .page-header
        %h1 Add a charity
      - if @charity.errors.any?
        .alert.alert-error
          <a class="close" data-dismiss="alert">×</a>
          %h4.alert-heading 
            = pluralize(@charity.errors.count, "error")
            prohibited this charity from being added
          %ul
            - @charity.errors.reverse_each do |field,msg|
              %li
                = msg
    
      = simple_form_for @charity, :html => { :class => 'form-horizontal' }, :defaults=>{:input_html=>{:class=>'span4'}} do |f|
        = field_set_tag 'Charity details' do
          = f.input :name
          = f.input :website, :hint => "full url e.g. http://www.againstmalaria.com/"
          = f.input :description, :placeholder => 'why is this an effective charity?', :input_html => {:rows=>'10'} 
        %hr
        .center
          = f.button :submit, "Add charity", :class=> "btn btn-large"
          
