.box
  .page-header
    %h1= "#{@users.size} member profiles"
  
  = render :partial => 'search_form'
  
  Jump to:&nbsp;
  - @grouped_users.each do |letter,users|
    =link_to letter, "##{letter}"
    &nbsp;|&nbsp;
  
  .page-header
    %h3 Newest members

  - @newest_users.in_groups_of(4) do |users|
    - users.each do |user|
      .span2
        = render :partial => 'member_condensed', :locals => { :user => user }
    .clearfix
  %hr

  - @grouped_users.to_a.in_groups_of(4) do |groups|
    .row
      - groups.each do |users|
        - if users
          .span3
            .page-header{:id => users[0]}
              %h1= users[0]
            - users[1].each do |user|
              = render :partial => 'member_condensed', :locals => { :user => user }
.clearfix
