.entry
  = render :partial => 'posts/voting', :locals => { :post => post }

  .heading
    %h3
      %a{:href => "/discussion/#{post.slug}"}
        = post.title
      - if post.category == "blog"
        %span.label.label-success blog post

    %h4
      = link_to_post_author( post )
      &nbsp;
      %span.comments-link= link_to pluralize(post.comments.size, 'comment'), "/discussion/#{post.slug}#comments"
  .clearfix
