.alert.alert-info
  This post will appear in the #{link_to 'Discussion', '/discussion/'} section of the site.

.alert.alert-info
  All fields can be formatted with Markdown

= simple_form_for @post, :defaults => { :input_html => { :class => 'span12' } }, :html => { :multipart => true } do |f|
  .form-inputs
    = f.input :title,  :placeholder => "Title of the post..."
    = f.input :body,   :placeholder => "Post body..."
    = f.input :draft,  :label => "Draft post?"

    = field_set_tag 'Attached images' do
      .attached-images
        = f.simple_fields_for :attached_images do |asset|
          - if asset.object.new_record?
            = asset.input :image, :label => "Add an image"
          - else
            .attached-image-thumb
              %h3= asset.object.image_file_name
              .image
                %ul.thumbnails
                  %li
                    = link_to( image_tag(asset.object.image.url(:small)), asset.object.image.url(:original), :class=>'thumbnail' )
              Delete image: 
              =asset.check_box :_destroy
              %hr
              %strong small:
              .copy-paste
                = h "<a href='#{asset.object.image.url(:original)}'>#{image_tag asset.object.image.url(:small), :class => 'image small'}</a>"
              %strong medium:
              .copy-paste
                = h "<a href='#{asset.object.image.url(:original)}'>#{image_tag asset.object.image.url(:medium), :class => 'image medium'}</a>"
              %strong large:
              .copy-paste
                = h "<a href='#{asset.object.image.url(:original)}'>#{image_tag asset.object.image.url(:large), :class => 'image large'}</a>"
    %hr

  .form-actions
    = f.button :submit
    or
    = link_to 'cancel', :back
