<% if @supporter.errors.any? %>
  <div class="alert">
  <div id="errorExplanation">
    <h2><%= pluralize(@supporter.errors.count, "error") %> stopped your signature from being accepted:</h2>
    <ul>
    <% @supporter.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>



<div class="box">
  <div class="center"><h2>Show your support for <%= org_name %> by signing our petition</h2></div>
  <div class="center"><h2><a href="#petition-signatures"><%= @supporters.size %> signatures so far</h2></a></div>
    <div class="box">
      <p>
      <%= org_name %> aims at encouraging people to pursue a career with a high
      ethical impact, and to give a portion of their time or money towards
      helping others. Providing extensive research on career choice and the
      best causes to work towards, <%= org_name %> ensures its members think
      carefully about where and for whom their contribution can make the
      greatest difference.
      </p>
      
      <p>
      I agree with these objectives and hereby express my support for the ideas
      that those, who are able to, pledge to give at least 10% of their working
      time or income to the causes they believe on the basis of evidence to
      be among those that most help others. I support the idea of making
      the <span class="bold">most</span> difference.
      </p>
    </div>

  <div class="center">
  <%= form_for @supporter do |s| %>
    <p><%= s.label :name %> <%= s.text_field :name %></p>
    <p><%= s.label :email %> <%= s.email_field :email %></p>
    <p><%= s.check_box :dont_email_me %> I don't want to receive updates by email</p>
    <%= s.submit "Sign our petition", :class=>"button" %>
  <% end %>
  </div>
</div>

<div class="box petition" id="petition-signatures">
  <div class="center">
  <h2><%= @supporters.size %> signatures</h2>
  <% @supporters.each_with_index do |s,idx| %>
    <div class="signature">
      <%= idx+1 %>) <%= s.name %>
    </div>
  <% end %>
  </div>
</div>
