.entry
  .box.left-border
    = render :partial => 'voting', :locals => { :post => post }

    .heading
      %h3
        = post.title
      %h4
        = render :partial => 'posts/author_link', :locals => { :post => post }

    .content
      = markdown post.body

    .attribution= markdown (post.attribution ? post.attribution : (post.user ? post.user.name : post.author ))

    %p
      = render :partial => "post_tags", :locals => { :post => post, :div_title => "tags:" }
    %p
      = link_to '<i class="icon-list"></i> Take me back to the blog'.html_safe, posts_path
    %p
      = link_to '<i class="icon-home"></i> Take me to the homepage'.html_safe, '/'
    %p
      = render :partial => "rss"
    %p
      .fblike
        <fb:like href="#{post_url(post)}" send="false" width="450" show_faces="false"></fb:like>

    .comments
      #disqus_thread
        = render :partial => "disqus_embed", :locals => { :post_id => @post.id, :post_title => @post.title }

    %hr
    .center
      %p
        = link_to '<i class="icon-list"></i> Take me back to the blog'.html_safe, posts_path
      %p
        = link_to '<i class="icon-home"></i> Take me to the homepage'.html_safe, '/'

