.entry
  .box.left-border
    - if can? :manage, post
      .controls
        .user
          = link_to "Edit post", edit_post_path, :class => 'btn btn-mini btn-warning'

          = link_to 'Delete post', post_path, :confirm => "Are you sure you want to delete the post '#{post.title}'?", :method => :delete, :class => 'btn btn-mini btn-danger'

    = render :partial => 'voting', :locals => { :post => post }
    .heading
      %h3
        = post.title
        - if post.draft
          %span.label.label-warning Draft post (not publicly visible)
      %h4
        = render :partial => 'posts/author_link', :locals => { :post => post }

    .content
      = markdown post.body

    .attribution= markdown (post.attribution ? post.attribution : (post.user ? post.user.name : post.author ))

    %p
      = render :partial => "post_tags", :locals => { :post => post, :div_title => "tags:" }
    %p
      = link_to '<i class="icon-list"></i> Take me back to the blog'.html_safe, posts_path
    %p
      = link_to '<i class="icon-home"></i> Take me to the homepage'.html_safe, '/'
    %p
      = render :partial => "rss"
    %p
      .fblike
        <fb:like href="#{post_url(post)}" send="false" width="450" show_faces="false"></fb:like>

    #comments
      #display-comments
        = render post.comments

      #new-comment
        - if can? :create, Comment
          - @comment = Comment.new( post_id: post.id )
          .center
            = render 'comments/form'
        - else
          %p
            #{link_to 'Sign up', new_user_registration_path} or
            #{link_to 'Sign in', new_user_session_path} to post a comment.

    %hr
    .center
      %p
        = link_to '<i class="icon-list"></i> Take me back to the blog'.html_safe, posts_path
      %p
        = link_to '<i class="icon-home"></i> Take me to the homepage'.html_safe, '/'
