
- @posts.each do |post|
  %div.box.blog-entry
    %div{:id => "#{post.title.downcase.gsub(/ /,'-')}"}
      %a{:href => post_path(post)}
        %h1= post.title
    %h2= post.created_at.strftime("%B %d, %Y")
    = markdown post.get_teaser

    .read-more
      %a{:href => post_path(post)}
        Read more...

    .attribution= markdown post.author

    %a{"href" => "#{post_url(post)}#disqus_thread",
       "data-disqus-identifier" => "blog-post-#{post.id}" }
    %div= render :partial => "disqus_count", :locals => { :post_id => post.id }
%br
%br

