.blog
  .row
    .span3
      .box.sidebar
        = render :partial => "rss"
        %hr
        = render :partial => "popular_posts"
        %hr
        = render :partial => "recommended_posts"
        %hr
        = render :partial => "authors"
        %hr
        = render :partial => "tag_cloud"
 
    .span7
      .box.left-border
        .sort-options
          .options
            - icon = ' <i class="icon-chevron-down"></i>'
            sort by: 
            = link_to "default#{@sort == nil ? icon : ''}".html_safe, '/blog'
            | 
            = link_to "date#{@sort == 'date' ? icon : ''}".html_safe, '?order=date'
            | 
            = link_to "votes#{@sort == 'votes' ? icon : ''}".html_safe, '?order=votes'
            |
            = link_to "popularity#{@sort == 'popularity' ? icon : ''}".html_safe, '?order=popularity'
        - if @heading
          .page-header
            %h1
              = @heading
        - @posts.each do |post|
          - if @condensed
            = render :partial => 'display_heading',
                     :locals => { :post => post }
          - else
            = render :partial => 'display_teaser',
                     :locals => { :post => post }

        -#- if will_paginate @posts
          -#.box.tight
            -#.center
              -#= page_navigation_links @posts
