.blog
  .row
    .span7
      - if @heading
        .box
          .center
            %h1
              = @heading
      - if will_paginate @posts
        .center.pagination
          = page_navigation_links @posts
      - @posts.each do |post|
        = render :partial => 'display_post', :locals => { :post => post, :teaser => true }

      - if will_paginate @posts
        .center.pagination
          = page_navigation_links @posts
    .span3.sidebar
      .box
        = render :partial => "rss"
      .box
        = render :partial => "popular_posts"
      .box
        = render :partial => "recommended_posts"
      .box
        = render :partial => "authors"
      .box
        = render :partial => "tag_cloud"

