%h1 Blog

- @posts.each do |post|

  %div.box.blog
    %div.title= post.title
    %p= post.body
    %p= post.draft
  %script{:type =>"text/javascript"}
    window.disqus_no_style = true;
    $.getScript("http://disqus.com/forums/eightythousand/count.js")

  = link_to 'Show', post
  \|
  = link_to 'Edit', edit_post_path(post)
  \|
  = link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete

%br
%br

= link_to 'New Post', new_post_path
