.box.blog-entry
  %h1= @post.title
  %h2= @post.created_at
  = markdown @post.body
  .attribution= markdown @post.author
  
= link_to 'Back', posts_path

#disqus_thread

= render :partial => "disqus_embed"
