.blog
  #sidebar
    .grid_4
      .box
        <a href="#disqus_thread">Jump to comments</a>
        <br/>
        <br/>
        <fb:like href="#{post_url(@post)}" send="false" width="250" show_faces="false"></fb:like>
        <br/>
      
        .attribution
          =markdown ("written by: " + @post.author) if @post.author

      - if @post.tag_counts_on(:tags).size > 0
        .box
          %h2
            Tags
          .tags
            - @post.tag_counts_on(:tags).each do |tag| 
              =link_to tag.name, { :action => :tag, :id => tag.name }
      .box
        <h2>Other Recommended Posts</h2>
        = markdown @recommended_posts.body
        - if can? :update, @recommended_posts
          .button
            = link_to 'Edit', edit_page_path(@recommended_posts)

      .box
        <h2>Authors</h2>
        - if @authors
          - @authors.each do |a|
            =link_to a.author, { :action => :author, :id => a.author }
            <br/>

  .grid_8
    .box
      .entry
        .title
          = @post.title
        .date
          = @post.created_at.strftime("%B %d, %Y")

        .content
          = markdown @post.body

        .attribution
          = markdown @post.attribution if @post.attribution

        more posts by 
        =link_to @post.author, { :action => :author, :id => @post.author }

        - if @post.tag_counts_on(:tags).size > 0
          .tags
            tags:
            - @post.tag_counts_on(:tags).each do |tag| 
              =link_to tag.name, { :action => :tag, :id => tag.name }
  
        #disqus_thread
          = render :partial => "disqus_embed", :locals => { :post_id => @post.id, :post_title => @post.title }
  .grid_8 
    .box.center
      = link_to 'View all blog posts', posts_path, :class=>"button"


