.blog
  .row
    .span3
      .sidebar.tight
        <a href="/blog">back to blog index</a>
        %hr
        <fb:like href="#{post_url(@post)}" send="false" width="250" show_faces="false"></fb:like>
        = render :partial => "rss"
        %hr
        = render :partial => "popular_posts"
        %hr
        = render :partial => "recommended_posts"
        %hr
        = render :partial => "authors"
        %hr
        = render :partial => "tag_cloud"

    .span9
      .box.left-border
        = render :partial => 'display_post', :locals => { :post => @post, :teaser => false }
 
