.blog
  #sidebar
    .grid_4
      .box
        <a href="#disqus_thread">Jump to comments</a>
        <br/>
        <br/>
        <fb:like href="#{post_url(@post)}" send="false" width="250" show_faces="false"></fb:like>
        <br/>
      
        .attribution
          =markdown ("written by: " + @post.author) if @post.author
  .grid_8
    .box
      .entry
        .title
          = @post.title
        .date
          = @post.created_at.strftime("%B %d, %Y")

        .content
          = markdown @post.body

        .attribution
          = markdown @post.attribution if @post.attribution

        #disqus_thread
          = render :partial => "disqus_embed", :locals => { :post_id => @post.id, :post_title => @post.title }
  .grid_8 
    .box.center
      = link_to 'View all blog posts', posts_path, :class=>"button"


