.blog
  #sidebar
    .grid_4
      .box
        <a href="#disqus_thread">Jump to comments</a>
        <br/>
        <br/>
        <fb:like href="#{post_url(@post)}" send="false" width="250" show_faces="false"></fb:like>
        <br/>
      
        .attribution
          =markdown ("written by: " + @post.author) if @post.author

      .box
        = render :partial => "post_tags", :locals => { :post => @post, :div_title => "<h2>Tags for this post</h2>".html_safe }
      .box
        = render :partial => "rss"
      .box
        = render :partial => "popular_posts"
      .box
        = render :partial => "recommended_posts"
      .box
        = render :partial => "authors"
      .box
        = render :partial => "tag_cloud"

  .grid_8
    .box
      .entry
        .title
          = @post.title
        .date
          = @post.created_at.strftime("%B %d, %Y")

        .content
          = markdown @post.body

        .attribution
          = markdown @post.attribution if @post.attribution

        more posts by 
        =link_to @post.author, { :action => :author, :id => @post.author }

        = render :partial => "post_tags", :locals => { :post => @post, :div_title => "tags:" }

        = render :partial => "rss"
        <br/>
        <br/>
        <fb:like href="#{post_url(@post)}" send="false" width="250" show_faces="false"></fb:like>
        <br/>

        #disqus_thread
          = render :partial => "disqus_embed", :locals => { :post_id => @post.id, :post_title => @post.title }
  .grid_8 
    .box.center
      = link_to 'View all blog posts', posts_path, :class=>"button"


