.blog
  .grid_4.sidebar
    .box
      = link_to 'Comments', post_url(@post, :anchor => "disqus_thread")
      %a{:name=>"fb_share"}
      %script{:src=>"http://static.ak.fbcdn.net/connect.php/js/FB.Share",:type=>"text/javascript"}

      .attribution
        = markdown @post.author

  .grid_8
    .box.entry
      .title
        = @post.title
      .date
        = @post.created_at.strftime("%B %d, %Y")

      .post-body
        = markdown @post.body

      .attribution
        = markdown @post.author

      %a{:name=>"fb_share"}
      %script{:src=>"http://static.ak.fbcdn.net/connect.php/js/FB.Share",:type=>"text/javascript"}

      %div 
        = link_to 'View all blog posts', posts_path

      #disqus_thread
        = render :partial => "disqus_embed", :locals => { :post_id => @post.id }
