.blog
  .row
    .span7
      = render :partial => 'display_post', :locals => { :post => @post, :teaser => false }

    .span3
      .box
        <a href="#disqus_thread">Jump to comments</a>
        <br/>
        <br/>
        <fb:like href="#{post_url(@post)}" send="false" width="250" show_faces="false"></fb:like>
        <br/>
      
        .attribution
          =markdown ("written by: " + @post.author) if @post.author

      .box
        = render :partial => "rss"
      .box
        = render :partial => "popular_posts"
      .box
        = render :partial => "recommended_posts"
      .box
        = render :partial => "authors"
      .box
        = render :partial => "tag_cloud"

 
