.blog
  .row
    .span3
      .box.sidebar
        = link_to '<i class="icon-list"></i> Back to the blog'.html_safe, posts_path
        %hr
        <fb:like href="#{post_url(@post)}" send="false" width="250" show_faces="false"></fb:like>
        = render :partial => "rss"
        %hr
        = render :partial => "popular_posts"
        %hr
        = render :partial => "recommended_posts"
        %hr
        = render :partial => "authors"
        %hr
        = render :partial => "tag_cloud"

    .span7
      = render :partial => 'display_post',
               :locals => { :post => @post }
