<div class="box blog-entry">
  <div id="<%= @post.title %>">
    <h1><%= @post.title %></h1>
  </div>
  <h2><%= @post.created_at.strftime("%B %d, %Y") %></h2>
  <div class="post-body">
    <%= markdown @post.body %>
  </div>

  <div class="attribution">
    <%= markdown @post.author %>
  </div>

  <fb:like href="<%= request.url %>" send="false" width="450" show_faces="false"></fb:like>

  <div>
  <%= link_to 'View all blog posts', posts_path %>
  </div>

  <div id="disqus_thread">
    <%= render :partial => "disqus_embed", :locals => { :post_id => @post.id }
%>
  </div>
</div>
