= "Hi #{@first_name},"
= "We've just added your donation of #{number_to_currency @amount} to #{@charity} to your member profile"
= "You can see it by following the link below:"
= @member_page
= "Best regards,"
= "80,000 Hours team"
