DonationMailer#confirmation

= "Hi #{@first_name},"
= "We've just received your donation of #{number_to_currency @amount} to #{@charity}."
= "You'll get a second email once we've confirmed the amount and added it to your profile"
= "Best regards,"
= "80,000 Hours team"
