= "Hi #{@first_name},"
:plain

= "We've just received your donation of #{number_to_currency @amount} to #{@charity}."
:plain

= "You'll get a second email once we've confirmed the amount and added it to your profile"
:plain

= "Best regards,"
= "80,000 Hours team"
