$( "##{@arrow_element}" ).toggleClass( "voted" );
$( "##{@arrow_element_other}" ).removeClass( "voted" );
$( "##{@arrow_element}" ).toggleClass( "notvoted" );
$( "##{@arrow_element_other}" ).addClass( "notvoted" );
$( "##{@vote_element}" ).html( "#{@net_votes}" );
- if @error
  $( "##{@error_element}" ).addClass( "modal" );
  $( "##{@error_element}" ).html( "#{escape_javascript( render( :partial => "sign_up_modal" ) )}" )
  $( "##{@error_element}" ).modal('show'); 
