<div class="box">
If you've got any more questions, <%= link_to "contact us", "/contact-us" %>!
</div>

<div class="box">
  <ul id="faq_menu" class="magenta-bullets">
  	<li><a href="#1_01">
    What if I can't donate time or money now?
    </a></li>
  	<li><a href="#1_02">
    What do you mean by 10% of time?
    </a></li>
  	<li><a href="#1_03">
    Which causes do the most good?
    </a></li>
  </ul>
</div>

<div class="box">
<dl class="faq">
  <dt id="1_01">
   What if I can't donate time or money now?
  </dt>
  <dd>
  <p>
  The <%= org_name %> pledge is designed so that you can spend the early years of
  your career building up your capacity to do good later. For example, a young
  person getting started in politics or campaigning won't have much influence at
  first, but will be able to do a lot of good over their whole career. Similarly,
  if you started a company, you wouldn't be able to give much money at first, but
  you'd be able to give 10% of your lifetime income once you'd got your company
  established.
  </p>
  <a href="#content">back to top</a>
  </dd>

  <dt id="1_02">
  What do you mean by 10% of time?
  </dt>
  <dd>
  <p>
  At least 10% of your time at work, so that would be 4 hours of a 40 hour
  week. This lets people who want to engage in some high impact activities, but
  can’t spend all of their career in that way, make a contribution. For
  instance, a scientist could spend some of their time researching high impact
  causes. Or, someone pursuing any career could spend some of their time
  inspiring others or volunteering for us.
  </p>
  
  <p>
  Anyone who devotes their entire career to helping others counts as donating
  100% of their time.
  </p>
  <a href="#content">back to top</a>
  </dd>

  <dt id="1_03">
  Which causes do the most good?
  </dt>
  <dd>
  <p>
  We turn to the latest cost-effectiveness research in order to work out where
  to donate our money. See <%= link_to "this blog post", "/blog#the-best-causes" %> 
  for more details.
  </p>

  <p>
  What other activities are high impact? See our <%= link_to "Career Profiles page", "/career-profiles" %>. Lots more information will be coming soon!
  </p>

  <p>
  In the meantime, the best thing to do is to 
  <%= link_to "chat to one of us", "/contact-us" %>.
  </p>
  <a href="#content">back to top</a>
  </dd>

<div class="center large_margin">
<a class="button" href="/join">Back to Join page</a>
</div>
</div>
