<div class="box">
  <p>
We’ve been raising some controversy in the media by suggesting that becoming a philanthropic banker could help more people than many conventional ethical careers.
  </p>

  <p>
We been featured on <%= link_to "the Today programme", "http://eightythousand.org/blog#william-crouch-of-80,000-hours-featured-on-the-today-programme-with-ian-hislop" %>. See all our <%= link_to "press coverage", "/press" %>. 
  </p>

<div class="inner-box">
  <h2>
What are the arguments in favour of professional philanthropy over conventional ethical careers? 
  </h2>

<ul>
  <li>
  See <%= link_to "our article", "/banker-vs-aid-worker/op-ed" %>.
  </li>
  <li>
  See <%= link_to "our video", "http://vimeo.com/29954976" %>
  </li>
</ul>
</div>


<div class="inner-box">
<h2>What are the common objections to these arguments?</h2>

<ul>
  <li>
  See <%= link_to "our Q&A page", "/banker-vs-aid-worker/q-and-a" %>.
  </li>
</ul>
</div>

<p>
Does this mean that professional philanthropy is the career that does the most
good? Does this mean that you should pursue professional philanthropy? No!
There are many high impact activities that do far more good than professional
philanthropy. Your individual skills are also very important.
</p>

<p>
For more information see:
</p>
<div class="center large_margin">
<a class="button" href="/career-research">Career Resources</a>
</div>
</div>
