<div class="box">
  <p>
  We'll have lots of content going up over the next few days. Leave your email address to be notified of updates.
  </p>
  <p>
  <%= render :partial => 'shared/mailing_list', :locals => { :text => "Stay updated: ", :klass => "standard" } %>
  </p>
</div>

<div class="box">
There are lots of different ways to have a high-impact ethical career. Some focus on giving. Others make a big difference because of the work they do.
</div>

<div class="box">
<h2>Research</h2>
<ul>
<li>Articles</li>
  <ul>
    <li><%= link_to "High Impact Science", "/blog#high-impact-science" %></li>
  </ul>
<li>Example Careers</li>
  <ul>
    <li><%= link_to "Scientist", "/career-profiles#Scientist" %></li>
  </ul>
<li>Example Members</li>
  <uL>
    <li><%= link_to "Nick Beckstead", "/members/nick-beckstead" %></li>
    <li><%= link_to "Anjie Cai", "/members/anjie-cai" %></li>
  </ul
</ul>
</div>

<div class="box">
<h2>Professional Philanthropy</h2>
<ul>
  <li>Articles</li>
  <ul>
    <li><%= link_to "Giving More", "/giving-more" %></li>
    <li><%= link_to "The Best Causes", "/blog#the-best-causes"%></li>
    <li><%= link_to "Estimation", "/blog#estimation"%></li>
    <li><%= link_to "Our Worst Subjects", "/blog#our-worst-subjects"%></li>
  </ul>
  <li>Example Careers</li>
  <ul>
    <li><%= link_to "Banker", "/career-profiles#Banker" %></li>
    <li><%= link_to "Doctor", "/career-profiles#Doctor" %></li>
    <li><%= link_to "Train driver", "/career-profiles#TrainDriver" %></li>
  </ul>
  <li>Example Members</li>
  <ul>
    <li><%= link_to "Matt Wage", "/members/matt-wage" %></li>
    <li><%= link_to "Eric Gastfriend", "/members/eric-gastfriend" %></li>
  </ul>
</ul>
</div>

<div class="box">
<h2>Inspiring Others</h2>
<ul>
<li>Articles</li>
  <ul>
    <li><%= link_to "Inspiring Others", "/inspiring-others" %></li>
  </ul>
<li>Example Careers</li>
  <ul>
    <li><%= link_to "Teacher", "/career-profiles#Teacher" %></li>
  </ul>
<li>Example Members</li>
  <ul>
    <li><%= link_to "David Leon", "/members/david-leon" %></li>
  </ul>
</ul>
</div>

<div class="box">
<h2>Campaigning</h2>
<ul>
<!--TODO <li>Articles</li> -->
<li>Example Careers</li>
  <ul>
    <li><%= link_to "Campaigner", "/career-profiles#Campaigner" %></li>
  </ul>
<li>Example Members</li>
  <ul>
    <li><%= link_to "Yuan Yang", "/members/yuan-yang" %></li>
    <li><%= link_to "Niel Bowerman", "/members/niel-bowerman" %></li>
  </ul>
</ul>
</div>
