<div class="box">
  <p>
  We'll have lots of content going up over the next few days. Leave your email address to be notified of updates.
  </p>
  <p>
  <%= render :partial => 'shared/mailing_list', :locals => { :text => "Stay updated: ", :klass => "standard" } %>
  </p>
</div>

<div class="box">
There are lots of different ways to have a high-impact ethical career. Some focus on giving. Others make a big difference because of the work they do.
</div>

<div class="box">
<h2>Research</h2>
<%= markdown "
* Articles
  * [High Impact Science](/blog#high-impact-science)
* Example Careers
  * [Scientist](/career-profiles#Scientist)
* Example Members
  * [Nick Beckstead](/members/nick-beckstead)
  * [Anjie Cai](/members/anjie-cai)
" %>
</div>

<div class="box">
<h2>Professional Philanthropy</h2>
<%= markdown "
* Articles
  * [Giving More](/giving-more)
  * [The Best Causes](/blog#the-best-causes)
  * [Estimation](/blog#estimation)
  * [Our Worst Subjects](/blog#our-worst-subjects)
* Example Careers
  * [Banker](/career-profiles#Banker)
  * [Doctor](/career-profiles#Doctor)
  * [Train driver](/career-profiles#TrainDriver)
* Example Members
  * [Matt Wage](/members/matt-wage)
  * [Eric Gastfriend](/members/eric-gastfriend)
" %>
</div>

<div class="box">
<h2>Inspiring Others</h2>
<%= markdown "
* Articles
  * [Inspiring Others](/inspiring-others)
* Example Careers
  * [Teacher](/career-profiles#Teacher)
* Example Members
  * [David Leon](/members/david-leon)
" %>
</div>

<div class="box">
<h2>Campaigning</h2>
<%= markdown "
* Example Careers
  * [Campaigner](/career-profiles#Campaigner)
* Example Members
  * [Yuan Yang](/members/yuan-yang)
  * [Niel Bowerman](/members/niel-bowerman)
" %>
</div>
