<%
require 'net/http'
require 'rexml/document'

url = 'http://www.google.com/calendar/feeds/eighty.thousand%40gmail.com/private-a850c51dfb2777551c79e31a11025a08/basic' + @gcal_params

xml_data = Net::HTTP.get_response(URI.parse(url)).body

doc = REXML::Document.new( xml_data )

titles = []
content = []
where = []
startTimes= []
endTimes = []
doc.elements.each('feed/entry/title'){ |e| titles << e.text }
doc.elements.each('feed/entry/content'){ |e| content << e.text }
doc.elements.each('feed/entry/gd:where'){ |e| where << e.attributes['valueString'] }
doc.elements.each('feed/entry/gd:when') do |e|
  startTimes << DateTime.parse(e.attributes['startTime'])
  endTimes << DateTime.parse(e.attributes['endTime'])
end


# all the arrays are ordered with closest event last, let's reverse them
titles = titles.reverse
content = content.reverse
where = where.reverse
startTimes = startTimes.reverse
endTimes = endTimes.reverse

%>

<% if titles.size > 0 %>
  <% titles.each_with_index do |title, idx| %>
    <div class="box event">
      <div class="title"><%= raw title %></div>
      <%= markdown content[idx] %>
      <p><span class="bold">When:</span> <%= startTimes[idx].strftime("%A %d of %B, %H:%M")  + endTimes[idx].strftime(" - %H:%M") %></p>
      <p><span class="bold">Where:</span> <%= raw where[idx] %></p>
    </div>
  <% end %>
<% else %>
  <div class="box event">
    We currently have no events scheduled. Check back soon!
  </div>
<% end %>

<div class="center large_margin">
  <% if @title == "Past events" %>
    <%= button_link 'Back to forthcoming events', '/events' %>
  <% else %>
    <%= button_link 'Looking for past events?', '/events/past-events' %>
  <% end %>
</div>
