<div class="box fp-padding">
  <div class="main_points">
    <div class="video_iframe">
      <iframe src="http://player.vimeo.com/video/29954976?byline=0&amp;portrait=0" width="380" height="213" frameborder="0"></iframe>
    </div>

    <div class="point">You're looking for a job.</div>
    <div class="point"><span class="bold">You want to make a difference.</span></div>
    <div class="point">We are here to help.</div>
    <div class="point">We’re rethinking which careers help the most people…</div>
    <div class="point">...and it doesn't mean working in the charity sector...</div>
    <div class="point">...or reducing your earning potential.</div>
  </div>

  <div class="center">
    <%= render :partial => 'shared/mailing_list', :locals => { :text => "Enter your email for more information", :width => "350px" } %>
  </div>
</div>

<div class="box-container height-400">
  <div class="box-third height-300 left-box">
    <h2 class="center">Ethical Career?</h2>
    Could a career as a banker help more people than a doctor?
    <%= image_tag "front_page/doctor_vs_banker.png", :class => "fp-box" %>
    <a href="/ethical-career"><span class="box-span"></span>
    </a>

    <%= button_link 'More...', '/ethical-career', 'more-button' %>
  </div>

  <div class="box-third height-300 middle-box">
    <h2 class="center">What can you do?</h2>
    You can save <span class="bold">thousands of lives</span> over your career.
    <%= image_tag "front_page/stick_men.png", :class => "fp-box" %>
    <a href="/what-you-can-do"><span class="box-span"></span>
    </a>

    <%= button_link 'More...', '/what-you-can-do', 'more-button' %>
  </div>

  <div class="box-third height-300 right-box">
    <h2 class="center">What do we do?</h2>
    We'll help you to get a <span class="bold">high impact career</span>.
    <%= image_tag "front_page/profile_pictures.png", :class => "fp-box" %>
    <a href="/what-we-do"><span class="box-span"></span>
    </a>

    <%= button_link 'More...', '/what-we-do', 'more-button' %>
  </div>
</div>

