<div class="box">
<%= image_tag "profiles/fullsize/will.jpg", :class => "shadow float-right", :alt => "Will Crouch" %>
<h2>Will Crouch</h2>
<h3>President</h3>
Will is a DPhil student in ethics at the University of Oxford, working on moral
uncertainty and the ethics of career choice.  He and has pledged to give over
50% of his expected earnings to the best causes; he has particular interests in
global poverty, animal welfare, and global catastrophic risk mitigation.  He
will spend next year in the USA on a Fulbright scholarship.
</div>

<div class="box">
<%= image_tag "profiles/fullsize/matt.jpg", :class => "shadow float-right", :alt => "Matt Gibb" %>
<h2>Matt Gibb</h2>
<h3>Chief Executive Officer</h3>
Matt is studying for a DPhil in computational biology at Oxford University.
Matt has pledged at least 30% of his annual income to the most effective global
poverty and health charities. Promptly after finishing his DPhil, Matt will
move to Silicon Valley to found a web-based medical imaging startup.
</div>

<div class="box">
<%= image_tag "profiles/fullsize/richard.jpg", :class => "shadow float-right", :alt => "Richard Batty" %>
<h2>Richard Batty</h2>
<h3>Chief Operations Officer</h3>
Richard is studying for a BA in Human Sciences at Oxford University. He aims
become an entrepreneur, earning a lot of money setting up software businesses
and donating much of the profits to the best charities. He has pledged to give
at least 10% of his earnings to charity.
</div>

<div class="box">
<%= image_tag "profiles/fullsize/ben.jpg", :class => "shadow float-right", :alt => "Ben Todd" %>
<h2>Ben Todd</h2>
<h3>Chief Marketing Officer</h3>
Ben is a Masters student of Physics and Philosophy at the University of Oxford.
He is writing a Master’s thesis on formulating climate policy in the presence
of uncertainty about the social discount rate. Ben has a strong interest in
investing, and will take a position with Orbis as an investment analyst next
year. He is the Chief Marketing Officer of <%= org_name %>, and will donate
20% of his expected earnings to the best causes.
</div>

<div class="box">
<%= image_tag "profiles/fullsize/niel.jpg", :class => "shadow float-right", :alt => "Niel Bowerman" %>
<h2>Niel Bowerman</h2>
<h3>Press Officer</h3>
Niel is currently studying for a DPhil in climate science at Oxford University.
Niel was a member of Barack Obama's energy and environment policy team during
the US general election, and has served as climate science advisor to the
Office of the President of the Maldives.  Niel has pledged 10% of his earnings
to causes that have the biggest positive impact.  He hopes to spend his career
helping organisations and Governments to maximise the good they can do in the
world by helping others.
</div>

<div class="box">
<%= image_tag "profiles/fullsize/robbie.jpg", :class => "shadow float-right", :alt => "Robbie Shade" %>
<h2>Robbie Shade</h2>
<h3>Chief Technology Officer</h3>
Robbie is in the final stages of a DPhil in robotics at Oxford University. He
has pledged to give 10% of his income to the causes which he believes will do
the most good. Robbie plans to pursue a high-earning career in the software
startup world, with the goal of being a professional philanthropist.
</div>

