<div class="box">
<div class="center page-header">
  <h1>The 80,000 Hours Team</h1>
</div>

<div class="center">
<% @team_profiles.each do |team_name, team_members| %>
  <% if team_members.size > 0 %>
    <a class="btn btn-large" href="#<%= team_name %>"><%= team_name %></a>
  <% end %>
<% end %>
</div>
</div>

<% @team_profiles.each do |team_name, team_members| %>
  <% if team_members.size > 0 %>
  <div class="box">
    <div class="center" id="<%= team_name %>">
      <h1><%= team_name %></h1>
    </div>
    <% team_members.each do |member| %>
      <div class="box">
        <%= render :partial => '/shared/member', :locals => { :member => member, :profile => member.eighty_thousand_hours_profile } %>
      </div>
    <% end %>

    <div class="center">
      <%= link_to 'Interested in becoming a member?', '/why-join', :class => 'btn' %>
      <a class="btn" href="#content">^ back to top</a>
    </div>
  </div>
  <% end %>
<% end %>
