<div id="top" class="box">
<p>
  There are three main categories of high impact careers:
  <a href="#professional-philanthropy">professional philanthropy</a>,
  <a href="#high-impact-influence">high impact influencing</a>,
  and <a href="#high-impact-research">high impact research</a>.
</p>
</div>

<div class="box" id="professional-philanthropy">
<h1>Professional Philanthropy</h1>
<%= image_tag "my_career/bill_gates.png", :class=>"shadow float-right" %>
<p>A professional philanthropist is someone who deliberately pursues a
lucrative career in order to donate a substantial proportion of their earnings
to the causes they believe to help people the most.  Lucrative careers can
include: banking; management consultancy; law; entrepreneurship; computer
programming; engineering; pharmacy; accountancy; actuarial work.</p> <p>Bill
Gates is the most famous example of this idea.  Though he did not originally
pursue a lucrative career with the intention of donating his earnings, he has
pledged to spend the majority of his wealth on high impact causes, such as
fighting poverty in the developing world, and funding cost-effectiveness
research.</p>
<p>Another relevant example is Oskar Schindler.  He ran enamelware and
ammunitions factories for the Nazis in order to earn enough money to buy the
lives of 1200 Jews.</p>
<a href="#top">back to top</a>
</div>

<div class="box" id="high-impact-influence">
<h1>High Impact Influence</h1>
<%= image_tag "my_career/peter_singer.png", :class=>"shadow float-right" %>
<p>One can often have an even greater impact through influencing others to
pursue high impact activities than through professional philanthropy.  Careers
in which one has a lot of influence include: politics; advising government;
lecturing; teaching; writing; journalism.</p>
<p>One example of a high impact influencer is Peter Singer.  His book ‘Animal
Liberation‘ was the intellectual foundation of the animal welfare movement; his
New York Times article increased donations to Oxfam and Unicef by over half a
million dollars.  He writings have inspired the creation of high impact
charitable ventures such as Giving What We Can and Vegan Outreach.</p>
<p>Another example is Victor Zhdanov.  Though little known, he lobbied the
World Health Organisation and persuaded them to eradicate smallpox.  If it
wasn’t for him, smallpox wouldn’t have been eradicated when it was, and
millions of people who were saved by the smallpox vaccine would have died.</p>
<a href="#top">back to top</a>
</div>

<div class="box" id="high-impact-research">
<h1>High Impact Research</h1>
<%= image_tag "my_career/norman_borlaug.png", :class=>"shadow float-right" %>
<p>If you are exceptionally talented, and working on a neglected but highly
important topic, your research can be extremely high impact.  Areas which are
plausibly high impact include topics within: cost-effectiveness and
prioritisation; medical technology; ethics; the mitigation of global
catastrophic (or ‘existential’) risks.</p>
<p>Norman Borlaug provides an example.  He developed disease-resistant strain
of short stem wheat, precipitating the Green Revolution.  Estimates of how many
people were saved from starvation by his research vary from two hundred million
to over one billion.   Even supposing that if Borlaug had not pursued his
research, similar disease-resistant grains would have been developed a few
years afterward, his impact should be measured in the order of millions of
lives saved.</p>
<a href="#top">back to top</a>
</div>

<div class="box">
<p>Bear in mind that this list is not exhaustive.  Some of you will find that
you can pursue a high impact career that does not fit into any of these
categories. More likely, your chosen career will be a mix of two or all three
of the paths. If you'd like to discuss the steps you might take to make the
most difference, get in touch.</p>
</div>

<%= button_link 'Get involved!', '/get-involved' %>
<%= button_link 'Questions?', '/faq' %>
