<div class="box-half left-box">
  <h1>Media Room</h1>
  <h2>'High Impact Ethical Careers'</h2>
  <p><%= org_name %> is an organisation which supports and guides people who are pursuing careers which will allow them to do the most good in the world.
  </p>
  <ul>
    <li>We think it might be better to become a banker than a charity worker, as a highly paid banker can pay for several charity workers.</li>
    <li>We're helping members pursue the highest impact ethical careers.</li>
    <li>Following a high impact career can allow you to save thousands of lives.</li>
    <li>Based on research by Oxford University ethicist Will Crouch, </li>
  </ul>
  <section>
  <h2>Contact Us</h2>
    <div class="leftcolumn vcard inner-box press-contact">
      <span class="fn"><strong>Tom Rowlands</strong></span><br />
      <span class="role green"><em>Prss contact</em></span><br />
      <span class="tel">+44 1865 589 180</span><br />
      <a class="email" href="mailto:press@eightythousand.org">press@eightythousand.org</a><br />
      <span class="street-address">oxford uehiro centre for practical ethics<br />
      suite 8, littlegate house<br />
      st ebbes street<br />
      oxford<br />
      ox1 1pt</span>
    </div>
  </section>
<div class="break"></div>
<h1>Possible media angles</h1>
<ul>
<li>Banker vs. Doctor</li>
</ul>
</div>


<div class="box-half right-box">
<h1>Press coverage</h1>
We’ve been featured on Radio 4’s Today programme, and on BBC Online.
<ul>
  <li>BBC news story: <a href="http://www.bbc.co.uk/news/education-15820786">"Banking 'can be an ethical career choice'"</a></li>
  <li>BBC Radio 4: <a href="http://news.bbc.co.uk/today/hi/today/newsid_9645000/9645137.stm">Today programme with Ian Hislop</a></li>
</ul>

<div class="center">
<a href="http://news.bbc.co.uk/today/hi/today/newsid_9645000/9645137.stm">
<%= image_tag "/assets/blog/todayprog.png", :class=>"shadow" %>
</a>
</div>


<div class="break"></div>
<h1>Download our press release</h1>
<%= button_link 'Press release', '/pdf/Press_Release_80000_Hours.pdf' %>

<div class="break"></div>
<h1>Download our logos</h1>
<%= link_to image_tag( "/assets/press/eighty_thousand_hours_logo_bw.png", :class=>"shadow"), "/assets/press/eighty_thousand_hours_logo_bw.png"  %>
<%= link_to image_tag( "/assets/press/eighty_thousand_hours_logo_color.png", :class=>"shadow"), "/assets/press/eighty_thousand_hours_logo_color.png"  %>


</div>
