<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <%= page_title %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.ico" type="image/ico" />

    <%= render :partial => "/shared/opengraph" %>

    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application" %>

    <%= javascript_include_tag "application" %>

    <!--[if lt IE 9]>
    <%= javascript_include_tag "html5" %>
    <![endif]-->

    <%# display Atom feed link %>
    <%= auto_discovery_link_tag(:atom, "http://80000hours.org/blog/feed.atom") %>

    <%= render :partial => "/shared/google_analytics" %>
  </head>

  <body>
    <header class='noise'>
      <%# static bootstrap nav bar %>
      <%= render :partial => "/shared/user_nav"%>

      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="row">
              <div class="span4">
                <%= link_to '80,000 Hours', '/', id: 'header-logo' %>
              </div>
              <div class="span8">
                <%= render :partial => "/shared/header_endorsement"%>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <div id='bootstrap-nav'>
              <nav class='clearfix'>
                <%= draw_menu( Page.top_level_menu, @page ) %>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <% if !flash.empty?  %>
        <% count = 0 %>
        <% flash.each do |key,value| %>
          <div class="modal" id="flash-modal-<%= count %>">
            <div class="modal-body alert <%= key %>">
              <%= value.html_safe %>
            </div>
            <div class="modal-footer">
              <a class="btn" data-dismiss="modal">Ok</a>
            </div>
          </div>
          <script>$("#flash-modal-<%= count %>").modal('show');</script>
          <% count += 1 %>
        <% end %>
      <% end %>

      <section id="content">
        <div class="row">
          <div class="span12">
            <%= yield %>
          </div>
        </div>
      </section>
    </div>

    <footer class='noise'>
      <div class="container ">
        <div class="row">
          <div class="span8 social">
            <%= render :partial => "/shared/social_media" %>
          </div>
          <div class="span4 social">
            Contact: <a href="mailto:info@80000hours.org">info@80000hours.org</a>
          </div>
        </div>
        <div class="row">
          <div class="span12 menu">
            <%= draw_footer_menu %>
          </div>
        </div>
        <div class="row">
          <div class="span12 charity">
            <p>
              80,000 Hours is part of the Centre for Effective Altruism, a charitable
              company limited by guarantee registered in England and Wales, number
              7962181.
            </p>
            <p>
              Centre for Effective Altruism, Oxford Uehiro Centre for
              Practical Ethics, Littlegate House, St Ebbes Street, Oxford OX1 1PT, UK
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

