<!DOCTYPE html>
<html xmlns:fb="https://www.facebook.com/2008/fbml">

<head>
  <%= page_title %>

  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="icon" href="/favicon.ico" type="image/ico" />

  <%= render :partial => "/shared/opengraph" %>

  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "eightythousand" %>
  <%= stylesheet_link_tag "jqueryui" %>

  <%= javascript_include_tag "application" %>

  <!--[if lt IE 9]>
  <%= javascript_include_tag "html5" %>
  <![endif]-->

  <%= render :partial => "/shared/google_analytics" %>
</head>

<body>
  <div id="wrapper"> 
    <header>
      <div id="header-content">
        <div id="header-logo-and-nav">
          <%= link_to image_tag( "header/80kh_header_logo.png", :id => "header-logo" ), "/" %> 
          <%= render :partial => "/shared/user_nav"%>
        </div>
        <%= render :partial => "/shared/menu",
                   :locals => {:current_page => @title} %>

      <% if @title == 'Home' %>
        <%= render :partial => '/shared/home' %>
      <% end %>
      <div style="clear: both;"></div>
      </div>
    </header>

    <section id='content'>
    <% if flash %>
      <% flash.each do |key,value| %>
        <div class="<%= key %>"><%= value %></div>
      <% end %>
    <% end %>

     <%= yield %>
      <div style="clear: both;"></div>
    </section>

    <%= render :partial => "/shared/social_media" %>
    <div class="push"><!-- sticky footer --></div>
  </div>

  <footer>
    <%= render :partial => "/shared/footer" %>
  </footer>
</body>
</html>

