<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <%= page_title %>

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.ico" type="image/ico" />

    <%= render :partial => "/shared/opengraph" %>

    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application" %>

    <%= javascript_include_tag "application" %>

    <!--[if lt IE 9]>
    <%= javascript_include_tag "html5" %>
    <![endif]-->

    <%# display Atom feed link %>
    <%= auto_discovery_link_tag(:atom, "http://80000hours.org/blog/feed.atom") %>

    <%= render :partial => "/shared/google_analytics" %>
  </head>

  <body>
    <header>
     <div id="header-content">

        <div id="header-logo-and-login">
          <%= link_to image_tag( "header/80kh_rect_logo_no_border.png",
                                 :id => "header-logo" ), "/" %> 
          <%= render :partial => "/shared/user_nav"%>
        </div>
        <div style="clear: both;"></div>

        <div id='nav'>
        <nav class='clearfix'>
            <%= render_menu %>
        </nav>
        </div>

        <% if @page && @page.title == 'Home' %>
          <%= render :partial => '/shared/home' %>
        <% end %>
        <div style="clear: both;"></div>
      </div>
    </header>

    <div class="container">
      <% if flash %>
        <div class="row">
          <div class="span6 offset3">
            <% flash.each do |key,value| %>
              <div class="alert <%= key %>">
                <%= value %>
                <a class="close" data-dismiss="alert">&times;</a>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <section id="content">
        <div class="row">
          <div class="span10 offset1">
            <%= yield %>
          </div>
        </div>
      </section>
    </div>

    <%= render :partial => "/shared/social_media" %>

    <footer>
      <%= render :partial => "/shared/footer" %>
    </footer>
  </body>
</html>

